@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
body { overflow-x:hidden; }
@media (max-width: 767px) {
	body {
		padding-left:0 !important;
		padding-right:0 !important;
	}
}
.title-header { display:none; }
.main-holder { padding:0; }
.main-holder:before {
	background:#a3e8dc;
	position:relative;
	display:block;
	width:100%;
	height:20px;
	content:"";
	box-shadow:inset 0 -1px 4px 1px rgba(146,217,203,0.3);
}
.mobile .main-holder, .tablet .main-holder { overflow:hidden; }
#content { padding-top:30px; }
.content-holder {
	background:#fbfaf6 url(images/content_pattern.jpg);
	padding-bottom:45px;
}
.content-holder:before {
	position:relative;
	display:block;
	width:100%;
	height:20px;
	content:"";
	box-shadow:inset 0 2px 1px 1px rgba(107,141,139,0.5);
	background:transparent url(images/bgpagesheader.jpg) center top no-repeat;
	background-size:cover;
}
@media (max-width: 767px) {
	.content-holder { padding:0 20px 40px; }
}
.content_box {
	background:#FFF;
	box-sizing:border-box;
	padding:26px 61px;
	margin-bottom:30px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.content_box { padding:26px 20px; }
}
@media (max-width: 767px) {
	.content_box { padding:26px 20px; }
}
.extra_cbox1 {
	padding:38px 49px 64px;
	margin-bottom:7px;
}
.home  .content-holder:before { display:none; }
.home  .header box-shadow: 0 2px 3px 3px rgba(107, .home  .header 141, .home  .header 139, 0.4)
        .home  .header:after { display:none; }
.ie8 .posts-grid img { max-width:none; }
.ie8 .service-box:hover .title a { color:#333; }
.ie8 .service-box:hover .title a:hover { color:#4acab4; }
.ie8 .service-box:hover .service-box_txt { color:#333; }
.ie8 .service-box:hover .icon {
	border:solid 3px #fff;
	background:#4acab4 !important;
	color:#fff;
}
.ie8 .divider {
	width:30px;
	margin:40px 10px 10px;
}
.ie8 .hero-unit .btn-align {
	position:relative;
	margin-topt:20px;
	right:inherit;
	top:inherit;
	left:0;
}
.thumbnail, .featured-thumbnail {
	padding:0;
	border:none;
	border-radius:0;
	opacity:1;
	box-shadow:0 0 4px 2px #efefef;
}
.btn.btn-primary {
	font-family:'Arial', sans-serif;
	font-size:14px;
	font-style:normal;
	text-shadow:none;
	text-transform:capitalize;
	padding:9px 28px;
	position:relative;
	background:transparent;
	border-radius:0;
	box-shadow:none;
	border:none;
	outline:none;
	border-radius:3px;
	z-index:1;
}
.btn.btn-primary:before {
	content:"";
	position:absolute;
	width:100%;
	height:0;
	bottom:0;
	left:0;
	background:#333333;
	z-index:-1;
	border-radius:3px;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.btn.btn-primary:after {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	bottom:0;
	left:0;
	border-radius:3px;
	background:#4acab4;
	z-index:-2;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.btn.btn-primary:hover:before {
	height:100%;
	border-radius:3px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
a:hover { text-decoration:none; }
h2 {
	text-align:center;
	padding-bottom:39px;
	padding-top:22px;
	margin-top:0;
	margin-bottom:0;
}
h2:after {
	content:"";
	position:relative;
	width:75px;
	height:1px;
	left:0;
	right:0;
	border-radius:0;
	background:#000;
	display:block;
	text-align:center;
	margin:0 auto;
	margin-top:18px;
}
.pseudoStickyBlock { background:#FFF; }
.isStuck.header {
	box-shadow:0 2px 1px 1px rgba(107,141,139,0.5);
	-webkit-transform:translateZ(0);
}
.isStuck.header:before {
	background:#FFF;
	height:0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.isStuck.header:after {
	height:0;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.header {
	text-align:center;
	right:0;
	left:0;
	padding:0 0;
	border:none;
	display:block;
	background:#FFF;
	background-image:none;
	box-shadow:0 0 3px 1px rgba(107,141,139,0.4);
}
.sf-menu, .sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
	float:right;
}
@media (max-width: 767px) {
	.nav__primary {
		padding-left:20px !important;
		padding-right:20px !important;
	}
}
.sf-menu {
	padding:45px 0 15px 0;
	margin-bottom:0;
	line-height:1.0;
}
.sf-menu ul {
	display:none;
	position:absolute;
	top:-999em;
	padding:17px 0;
	margin-left:0px;
	margin-top:30px;
	background:#FFF;
	box-shadow:0 0 3px 1px rgba(107,172,164,0.3);
	width:9.3em;
}
.sf-menu ul ul {
	margin-left:10px;
	box-shadow:0 0 3px 1px rgba(107,172,164,0.3);
}
.sf-menu {
	float:right;
	margin-right:13px;
}
.sf-menu > li {
	background:transparent;
	text-align:center;
	margin-left:3px;
}
.sf-menu > li > a {
	font-family:'Droid Serif', serif;
	font-size:14px;
	font-style:normal;
	background:transparent;
	font-weight:400 !important;
	padding:0;
	margin:0 16px;
	border:none;
	color:#929292;
	text-decoration:none;
	border-bottom:0px solid #929292;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.sf-menu > li > a.sf-with-ul { padding-right:0 !important; }
.sf-menu li .desc {
	display:block;
	font-size:0.9em;
}
.sf-menu li li {
	margin-bottom:0;
	background:transparent;
	display:block;
	text-align:center;
}
.sf-menu li li a {
	font-family:'Droid Serif', serif;
	font-size:12px;
	font-style:normal;
	background:transparent;
	font-weight:400;
	text-decoration:none;
	text-align:center;
	color:#929292;
	display:block;
	padding:3px 0;
	float:none;
	margin:0;
	border:none !important;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.sf-menu li li a.sf-with-ul { padding:0; }
.sf-menu li li a .sf-sub-indicator {
	display:inline-block;
	position:relative;
	padding:0;
	top:3px;
	right:20px;
}
.sf-menu > li > a:hover, .sf-menu > li.sfHover> a, .sf-menu > li.current-menu-item > a, .sf-menu > li.current_page_item > a {
	color:#333333;
	border-bottom:2px solid #929292;
	background:transparent;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.sf-menu > li > a:hover .sf-sub-indicator, .sf-menu > li.sfHover> a .sf-sub-indicator, .sf-menu > li.current-menu-item > a .sf-sub-indicator, .sf-menu > li.current_page_item > a .sf-sub-indicator { background-position:-10px -100px; }
.sf-menu li li > a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current-menu-item > a, .sf-menu li li.current_page_item > a {
	color:#333333;
	border-bottom:2px solid #929292;
	background:transparent;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.sf-sub-indicator {
	top:1.4em;
	right:50%;
	margin-right:-5px !important;
	background:url(images/arrows-ffffff.png) no-repeat -10px -100px;
}
.select-menu {
	display:none;
	background-color:#FFF;
	color:#000000;
	width:100%;
	height:35px;
	padding:5px;
	margin:0;
	cursor:pointer;
	outline:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
.select-menu option {
	padding:5px;
	cursor:pointer;
}
.select-menu option.main_item { font-weight:bold; }
@media (max-width: 1200px) and (min-width: 979px) {
	.sf-menu > li > a { margin:0 14px; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.sf-menu > li > a { margin:0 14px; }
	.sf-menu > li { margin-left:0; }
	.sf-menu ul {
		margin-left:0px;
		padding:15px 0;
		width:8em;
	}
	.sf-menu ul ul { margin-left:-10px; }
	.sf-menu { padding:30px 0 0px 0; }
}
@media (max-width: 767px) {
	.select-menu { margin-bottom:20px; }
	.nav { margin:20px 0 0 0; }
}
.logo {
	padding:24px 0 17px;
	text-align:left;
	line-height:0;
	margin-left:0;
	text-transform:uppercase;
	color:#333333;
}
@media (max-width: 767px) {
	.logo {
		padding-left:20px !important;
		padding-right:20px !important;
	}
}
.logo .logo_tagline {
	font-family:'Droid Serif', serif;
	color:#a1a1a1;
	text-transform:uppercase;
	font-size:14px;
	line-height:20px;
}
.logo .logo_h__txt a:hover { color:#333333 !important; }
.logo .logo_h__txt:after { display:none; }
.logo .logo_h__txt .logo_link {
	text-transform:uppercase;
	font-weight:normal;
}
.breadcrumb__t {
	background:#ffffff;
	margin:0;
	box-shadow:0 0 1px 1px #eeeeee;
	border-radius:0;
	padding:9px 14px 10px;
	word-wrap:break-word;
	-webkit-hyphens:auto;
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-o-hyphens:auto;
	hyphens:auto;
}
.breadcrumb__t li { display:inline; }
.breadcrumb__t li.active {
	color:#232323;
	font-family:'Droid Serif', serif;
	font-size:14px;
	font-style:normal;
	text-transform:uppercase;
	background:transparent;
	font-weight:400;
}
.breadcrumb__t li.divider {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
	margin:0 7px;
}
.breadcrumb__t li.divider:after {
	content:' // ';
	color:#979797;
	font-family:'Droid Serif', serif;
	font-size:14px;
	font-style:normal;
	text-transform:uppercase;
	background:transparent;
	font-weight:400;
}
.breadcrumb__t li a {
	color:#979797;
	font-family:'Droid Serif', serif;
	font-size:14px;
	font-style:normal;
	text-transform:uppercase;
	background:transparent;
	font-weight:400;
}
.breadcrumb__t li a:hover {
	color:#232323;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.divider { margin:40px 28px 10px; }
@media (max-width: 1200px) and (min-width: 979px) {
	.divider {
		width:30px;
		margin:40px 10px 10px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.divider { display:none; }
}
@media (max-width: 767px) {
	.divider { display:none; }
}
.btn.btn-primary.round_button {
	font-family:'Droid Serif', serif;
	text-align:center;
	position:relative;
	width:172px;
	height:172px;
	border-radius:500px !important;
	vertical-align:middle;
	overflow:hidden;
	padding:0 !important;
}
@media (min-width: 768px) and (max-width: 979px) {
	.btn.btn-primary.round_button { margin:10px; }
}
@media (max-width: 767px) {
	.btn.btn-primary.round_button { margin:10px; }
}
@media (max-width: 600px) {
	.btn.btn-primary.round_button {
		margin:10px auto;
		text-align:center;
		display:block;
	}
}
.btn.btn-primary.round_button strong {
	font-family:'Droid Serif', serif;
	display:block;
	font-size:18px;
	padding-top:68px;
	vertical-align:middle;
	line-height:28px;
	font-weight:400 !important;
}
.btn.btn-primary.round_button em {
	font-family:'Droid Serif', serif;
	font-size:12px;
	display:block;
	line-height:20px;
	text-transform:none;
}
.btn.btn-primary.round_button:before {
	content:"";
	position:absolute;
	width:0%;
	height:0%;
	left:0%;
	bottom:0%;
	background:#333333;
	z-index:-1;
	border-radius:3px;
	border-radius:500px !important;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.btn.btn-primary.round_button:after {
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	bottom:0;
	left:0;
	border-radius:500px;
	background:#4acab4;
	z-index:-2;
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.btn.btn-primary.round_button:hover:before {
	height:90%;
	width:90%;
	left:5%;
	bottom:5%;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.btn.btn-primary.round_button:hover:after {
	background:#aff7f3;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.parallax-box {
	position:relative;
	box-sizing:border-box;
	padding:159px 100px 123px;
	text-align:center;
	margin-bottom:33px;
}
@media (max-width: 767px) {
	.parallax-box { padding:150px 20px; }
}
@media (max-width: 480px) {
	.parallax-box { padding:70px 20px; }
}
.parallax-box h2 {
	font-family:'Droid Serif', serif;
	color:#FFF;
	text-transform:uppercase;
	font-size:48px;
	line-height:60px;
	padding:0;
	margin:0 0 22px;
}
.parallax-box h2:after { display:none; }
.parallax-box h2 em {
	color:#aff7f3;
	text-transform:lowercase;
}
@media (max-width: 767px) {
	.parallax-box h2 {
		font-size:28px;
		line-height:30px;
	}
}
.parallax-box h3 {
	font-family:'Droid Serif', serif;
	color:#FFF;
	text-transform:capitalize;
	font-size:24px;
	line-height:28px;
	margin:0;
}
.parallax-box h3 strong {
	color:#aff7f3;
	font-weight:normal !important;
}
@media (max-width: 767px) {
	.parallax-box h3 {
		font-size:16px;
		line-height:24px;
	}
}
#searchform .search-form_it {
	border:1px solid #e5e5e5;
	width:90%;
	color:#999999;
	padding:9px 14px;
}
#searchform .search-form_is {
	margin-top:8px;
	color:#FFF;
}
.error404-holder { padding:30px 0 100px 0; }
.error404-holder_num {
	text-align:center;
	font-size:250px;
	line-height:1.2em;
}
@media (max-width: 480px) {
	.error404-holder_num { font-size:120px; }
}
.error404-holder .hgroup_404 {
	margin:0 0 2em 0;
	padding-top:50px;
}
.error404-holder .hgroup_404 h1 {
	margin-bottom:.2em;
	font-size:3em;
}
.error404-holder .hgroup_404 h2 { text-align:left; }
.error404-holder .hgroup_404 h2:after { display:none; }
.filter-wrapper {
	float:none;
	margin-top:20px;
	margin-bottom:0;
	border-bottom:none;
	text-align:center;
}
@media (max-width: 767px) {
	.filter-wrapper { width:100%; }
}
.filter-wrapper .pull-right {
	float:none;
	text-align:center;
	display:inline-block;
}
.filter-wrapper strong {
	padding:0;
	font-family:'Droid Serif', serif;
	font-size:16px;
	line-height:24px;
	position:relative;
	white-space:nowrap;
	background:transparent;
	text-transform:capitalize;
	color:#a1a1a1;
	font-weight:normal;
	margin-right:0;
}
.filter-wrapper .nav {
	overflow:hidden;
	margin-bottom:14px;
}
@media (max-width: 767px) {
	.filter-wrapper .nav { margin:0 0; }
}
@media (max-width: 480px) {
	.filter-wrapper .nav { margin:0 0 0 0; }
}
.nav-pills {
	text-align:center;
	width:410px;
}
@media (max-width: 550px) {
	.nav-pills { width:inherit; }
}
.nav-pills li a {
	font-family:'Droid Serif', serif;
	font-size:16px;
	line-height:24px;
	position:relative;
	white-space:nowrap;
	background:transparent;
	text-transform:capitalize;
	color:#a1a1a1;
	padding:0;
	margin:0 0px 8px 21px;
	border-radius:0;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
@media (max-width: 570px) {
	.nav-pills li a { margin:0 0px 8px 5px; }
}
.nav-pills li a:hover, .nav-pills li a:focus {
	color:#FFF !important;
	background:transparent !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.nav-pills li:hover a, .nav-pills li:focus a {
	color:#333333 !important;
	background:transparent !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.nav-pills li.active a {
	color:#333333 !important;
	background:transparent !important;
	position:relative;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.nav-pills li.active a:hover {
	color:#333333 !important;
	background:transparent !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.filterable-portfolio {
	position:relative;
	visibility:hidden;
	overflow:hidden;
	margin:0 -10px;
}
.filterable-portfolio .portfolio_item {
	display:block;
	float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0 0 29px 0;
	padding:0 10px;
	width:0;
}
.filterable-portfolio .portfolio_item.nomargin { margin-right:0; }
.filterable-portfolio .portfolio_item_holder {
	padding:0;
	background:transparent;
	overflow:hidden;
	margin-top:0;
}
.filterable-portfolio .portfolio_item_holder p {
	margin-bottom:25px;
	text-align:center;
}
.filterable-portfolio .portfolio_item_holder .caption__portfolio {
	background:#FFF;
	padding:25px 21px 5px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.filterable-portfolio .portfolio_item_holder:hover .caption__portfolio {
	background:#dedede;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.filterable-portfolio .meta { margin:0 0 0; }
.filterable-portfolio .meta span {
	font-family:'Droid Serif', serif;
	font-size:18px;
	line-height:24px;
	font-weight:400;
	white-space:nowrap;
	background:transparent;
	text-transform:uppercase;
	color:#aff7f3;
}
.filterable-portfolio h3 {
	margin:0 0 16px;
	text-align:center;
}
.filterable-portfolio h3 a {
	font-family:'Droid Serif', serif;
	font-size:18px;
	line-height:24px;
	font-weight:normal;
	white-space:nowrap;
	color:#333333;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.filterable-portfolio h3 a:hover {
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
#comments .pagination { display:none; }
#respond {
	box-sizing:border-box;
	padding:30px 61px 40px;
	margin-top:30px;
	background:#FFF;
	padding-top:25px;
	box-shadow:0 0 1px 1px #eeeeee;
}
@media (max-width: 767px) {
	#respond { padding:30px 20px; }
}
#respond #commentform label { display:block; }
#respond #commentform input[type="text"] {
	border:1px solid #e5e5e5 !important;
	box-shadow:none;
	font-family:'Arial', sans-serif;
	font-size:13px;
	margin-bottom:10px;
	color:#a1a1a1;
	margin:0;
	padding:9px 10px;
	width:348px;
	border-radius:0;
}
#respond #commentform input[type="text"]:focus {
	box-shadow:none;
	border:1px solid #e5e5e5 !important;
}
#respond #commentform textarea {
	color:#a1a1a1;
	box-shadow:none;
	border:1px solid #e5e5e5 !important;
	padding:7px 10px;
	margin-bottom:20px !important;
	overflow:auto;
	margin:0;
	min-width:100%;
	min-height:200px;
	max-width:100%;
	width:100%;
	height:200px;
	border-radius:0;
	color:#919191;
	border-color:#ddd;
}
#respond #commentform textarea:focus {
	box-shadow:none;
	border:1px solid #e5e5e5;
}
.children #respond #commentform textarea {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	width:100%;
	max-width:100%;
	min-width:100px;
}
@media (min-width: 768px) and (max-width: 979px) {
	#respond #commentform textarea {
		width:100%;
		max-width:100%;
		min-width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
@media (max-width: 767px) {
	#respond #commentform input[type="text"] {
		width:100%;
		height:37px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	#respond #commentform textarea {
		width:100%;
		max-width:100%;
		min-width:100%;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
#respond h3 {
	font-family:'Droid Serif', serif;
	font-size:24px;
	font-weight:400;
	color:#000000;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:38px;
	margin-top:6px;
	position:relative;
	border:none;
	text-align:center;
}
#respond h3:after {
	content:"";
	position:relative;
	width:75px;
	height:1px;
	left:0;
	right:0;
	border-radius:0;
	background:#000;
	display:block;
	text-align:center;
	margin:0 auto;
	margin-top:18px;
}
.comments-h {
	font-family:'Droid Serif', serif;
	font-size:24px !important;
	font-weight:400;
	color:#000000;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:28px;
	margin-top:6px;
	position:relative;
	border:none;
	text-align:center;
}
.comments-h:after {
	content:"";
	position:relative;
	width:75px;
	height:1px;
	left:0;
	right:0;
	border-radius:0;
	background:#000;
	display:block;
	text-align:center;
	margin:0 auto;
	margin-top:18px;
}
.comment-holder {
	box-sizing:border-box;
	padding:30px 61px 40px;
	margin-top:30px;
	background:#FFF;
	padding-top:25px;
	box-shadow:0 0 1px 1px #eeeeee;
}
@media (max-width: 767px) {
	.comment-holder { padding:30px 20px; }
}
.comment .comment-body {
	position:relative;
	overflow:hidden;
	margin-top:10px;
	padding:26px 20px;
	border:none;
	background:#f6f6f6 !important;
	zoom:1;
	color:#999999;
	border:none;
}
.comment .comment-body p {
	font-family:'Arial', sans-serif;
	font-size:13px;
	font-weight:400;
	color:#999999;
	margin-bottom:0 !important;
}
.comment-author {
	float:left;
	margin:0 16px 0 0;
}
.comment-author .author {
	font-family:'Droid Serif', serif;
	font-size:13px !important;
	text-transform:uppercase;
	font-weight:400;
	display:block;
	padding-top:18px;
	width:65px;
	text-align:left;
	font-size:14px;
	font-weight:400;
	color:#323232;
}
.commentmetadata {
	font-family:'Droid Serif', serif;
	font-size:13px !important;
	text-transform:uppercase;
	font-weight:400;
	text-align:left;
	font-size:14px;
	font-weight:400;
	color:#323232;
	margin-top:0;
}
.reply {
	float:right;
	margin-left:14px;
	line-height:22px;
	margin-top:-2px;
}
.reply a {
	font-family:'Droid Serif', serif;
	font-size:13px !important;
	text-transform:uppercase;
	font-weight:400;
	text-align:left;
	font-size:14px;
	font-weight:400;
	color:#323232;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.reply a:hover {
	text-decoration:none;
	color:#4acab4;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
#sidebar { padding-top:30px; }
.widget {
	position:relative;
	box-sizing:border-box;
	background:#FFF;
	box-sizing:border-box;
	padding:38px 28px;
	margin-bottom:40px;
	overflow:hidden;
	box-shadow:0 0 2px 1px #eeeeee;
}
@media (max-width: 767px) {
	.widget { padding:30px 20px; }
}
.widget select {
	width:100% !important;
	height:39px;
	color:#323232;
	padding:9px 10px;
}
.widget .social { margin:0; }
.widget .social_li a:before { display:none; }
.widget .flickr_list li a:before { display:none; }
.widget h3 {
	text-align:center;
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-style:normal;
	color:#333333;
	text-transform:capitalize;
	background:transparent;
	font-weight:normal !important;
	position:relative;
	padding:0;
	margin:0 0 23px;
	border-bottom:none;
}
.widget ul {
	list-style:none;
	margin-left:0;
	padding:0;
	margin-bottom:0;
}
.widget ul ul { margin-left:20px; }
.widget ul li {
	border:none;
	position:relative;
	margin-bottom:9px;
}
.widget ul li a {
	color:#323232;
	font-family:'Arial', sans-serif;
	font-size:12px;
	line-height:20px;
	font-weight:400;
	margin-bottom:0;
	background-color:transparent;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.widget ul li a:hover {
	text-decoration:none;
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.widget .post-list li {
	overflow:hidden;
	padding-top:0;
	padding-bottom:5px;
}
.widget .post-list li .featured-thumbnail.thumbnail a:before { display:none !important; }
.widget .post-list li:first-child {
	padding-top:0;
	margin-bottom:0;
	border:none;
}
.widget .post-list .featured-thumbnail.thumbnail {
	margin:7px 19px 10px 0;
	box-shadow:none;
}
@media (max-width: 480px) {
	.widget .post-list .featured-thumbnail.thumbnail { margin:7px 15px 10px 0; }
}
.widget .post-list time {
	color:#333333;
	font-family:'Droid Serif', serif;
	font-size:18px;
	line-height:20px;
	margin-bottom:18px;
	position:relative;
	display:block;
}
.widget .post-list_h { margin:0px 0 10px; }
.widget .post-list_h a {
	color:#333333;
	font-family:'Droid Serif', serif;
	font-size:14px;
	line-height:20px;
}
.widget .post-list_h a:before { display:none; }
.widget .post-list .excerpt { margin-bottom:20px; }
.widget .post-list .excerpt a {
	color:#999999;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.widget .post-list .excerpt a:hover {
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.widget .post-list .btn.btn-primary { color:#FFF; }
.widget .post-list .btn.btn-primary:hover { color:#FFF; }
.widget .comments-custom .featured-thumbnail.thumbnail {
	margin-top:8px;
	margin-right:25px;
	box-shadow:none;
}
.widget .comments-custom li {
	overflow:hidden;
	margin:0;
	padding:5px 0 25px 0;
	border-bottom:none;
	background:none;
}
.widget .comments-custom li:first-child {
	padding-top:0;
	border-top:none;
}
.widget .comments-custom_txt {
	padding:0;
	border-top:none;
	margin-top:4px;
}
.widget .comments-custom_txt a {
	text-decoration:none;
	color:#999999;
}
.widget .comments-custom_txt a:before { display:none !important; }
.widget .comments-custom_txt a:hover {
	text-decoration:none;
	color:#4acab4;
}
.widget .comments-custom_h_title, .widget .comments-custom_h_author {
	font-family:'Droid Serif', serif;
	font-size:18px;
	line-height:20px;
	color:#333333;
	text-transform:lowercase !important;
	margin-bottom:5px;
	margin-top:16px;
}
.widget .comments-custom_h_author:first-letter {
	font-family:'Droid Serif', serif;
	font-size:18px;
	line-height:20px;
	color:#333333;
	text-transform:lowercase !important;
}
.widget .comments-custom i {
	font-size:16px;
	margin-right:.5em;
	color:;
	float:left;
	min-width:15px;
	text-align:center;
}
.widget .comments-custom .ladle {
	float:left;
	padding-right:5px;
}
.widget .comments-custom .meta_format time {
	font-family:'Droid Serif', serif;
	font-size:12px;
	line-height:20px;
	margin-top:12px;
	font-style:italic;
	color:#95959a;
	display:block;
}
.widget #wp-calendar td {
	padding:6px 0;
	border:none;
	text-align:center;
}
.widget #wp-calendar td#today {
	background-color:#4acab4;
	color:#FFF;
}
.widget #wp-calendar caption {
	margin-bottom:5px;
	padding:4px 0;
	color:#999999;
	font-weight:bold;
	font-size:16px;
	text-align:center;
}
.widget #wp-calendar thead th {
	padding:7px 0;
	color:#4acab4;
	text-align:center;
	font-size:14px;
}
.widget #searchform .search-form_it {
	border:1px solid #e5e5e5;
	width:90%;
	color:#999999;
}
.widget #searchform .search-form_is {
	margin-top:8px;
	color:#FFF;
}
.widget .banner_wrapper img { max-width:100%; }
.widget .widget-flexslider .btn.btn-primary { color:#FFF !important; }
.widget .widget-flexslider .btn.btn-primary:hover { color:#FFF !important; }
.widget .flex-direction-nav .flex-prev {
	left:0;
	margin:10px 0 0;
	color:#aff7f3;
}
.widget .flex-direction-nav .flex-next {
	right:0;
	margin:10px 0 0;
	color:#aff7f3;
}
.blog_bg {
	position:relative;
	box-sizing:border-box;
	background:#FFF;
	box-sizing:border-box;
	padding:30px 61px;
	margin-bottom:40px;
	box-shadow:0 0 2px 1px #eeeeee;
}
@media (max-width: 767px) {
	.blog_bg { padding:30px 20px; }
}
.post__holder {
	background:#FFF;
	box-sizing:border-box;
	padding:30px 61px;
	margin-bottom:40px;
	box-shadow:0 0 2px 1px #eeeeee;
}
@media (max-width: 767px) {
	.post__holder { padding:30px 20px; }
}
.single-post .post__holder {
	background:#FFF;
	box-sizing:border-box;
	margin-bottom:0;
	padding:0;
	box-shadow:none;
}
.post_wrapper {
	background:#FFF;
	box-sizing:border-box;
	margin-bottom:40px;
}
.post_wrapper .featured-thumbnail.large {
	overflow:hidden;
	margin-right:0;
	margin-bottom:26px;
}
.post_wrapper .post-header {
	margin-top:0;
	margin-bottom:32px;
}
.post_wrapper .post-header .post-title {
	padding-top:0;
	padding-bottom:6px;
}
.post_wrapper .post-header .post-title a {
	font-family:'Droid Serif', serif;
	font-size:24px;
	font-style:normal;
	text-transform:capitalize;
	background:transparent;
	font-weight:400;
	color:#000;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.post_wrapper .post-header .post-title a:hover {
	color:#4acab4;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.post_wrapper .post_content { padding-bottom:40px; }
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span { border-radius:3px !important; }
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span { border-radius:3px !important; }
.pagination.pagination__posts ul { box-shadow:none; }
.pagination.pagination__posts ul li a {
	background-color:#FFF;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.pagination.pagination__posts ul li a:hover {
	color:#FFF;
	background-color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.pagination.pagination__posts ul li.active a {
	color:#FFF;
	background-color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post_meta {
	overflow:hidden;
	margin-bottom:1em;
	padding:.5em 0;
	color:#919191 !important;
	border-top:1px solid #dcdcdb;
	border-bottom:1px solid #dcdcdb;
	text-transform:uppercase;
	font-size:.92em;
}
.post_meta div[class^="post_"] {
	font-family:'Droid Serif', serif;
	display:inline-block;
	font-size:13px !important;
	text-transform:uppercase;
	line-height:20px;
	padding:0 5px;
}
@media (max-width: 767px) {
	.post_meta div[class^="post_"] { display:block; }
}
.post_meta div[class^="post_"] a {
	font-family:'Droid Serif', serif;
	display:inline-block;
	font-size:13px !important;
	text-transform:uppercase;
	color:#a1a1a1;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post_meta div[class^="post_"] a:hover {
	text-decoration:none;
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post_meta div[class^="post_"] .not_voting {
	cursor:default;
	color:inherit;
}
.post_meta div[class^="post_"] .not_voting span { color:inherit; }
.post_meta div[class^="post_"] .ajax_voting { color:inherit; }
.post_meta div[class^="post_"] .ajax_voting span { color:inherit; }
.post_meta div[class^="post_"] .user_voting { cursor:default; }
.post_meta div[class^="post_"] .user_voting i, .post_meta div[class^="post_"] .user_voting span {
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-out;
}
.post_meta div[class^="post_"] .user_like { cursor:default; }
.post_meta div[class^="post_"] .user_like i, .post_meta div[class^="post_"] .user_like span { color:#d8d8d8; }
.post_meta div[class^="post_"] .user_like i {
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-out;
}
.post_meta div[class^="post_"] .user_dislike { cursor:default; }
.post_meta div[class^="post_"] .user_dislike i, .post_meta div[class^="post_"] .user_dislike span { color:#d8d8d8; }
.post_meta div[class^="post_"] .user_dislike i {
	transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-out;
}
.post_meta div[class^="post_"] .animation_item {
	position:absolute;
	top:0px;
	right:0px;
}
.post_meta div[class^="post_"] a { text-transform:uppercase; }
.post_meta>div.post_meta_unite {
	display:block;
	border-top:1px solid #ddd;
	padding-top:.5em;
	margin-top:.5em;
}
.post_meta>div.post_meta_unite:first-child {
	border-top:none;
	margin-top:0;
	padding-top:0;
}
.post_meta .post_author a {
	color:#a1a1a1 !important;
	text-transform:uppercase;
}
.post_meta .post_author a:hover { color:#4acab4 !important; }
.post_meta .post_comment a {
	color:#323232 !important;
	text-transform:uppercase;
}
.post_meta .post_comment a:hover { color:#4acab4 !important; }
.post_meta .post_date time { color:#323232 !important; }
.post_meta .post_permalink {
	float:right;
	padding-right:0;
}
.post_meta .post_permalink a {
	color:#323232 !important;
	text-transform:uppercase;
}
.post_meta .post_permalink a:hover { color:#4acab4 !important; }
@media (max-width: 767px) {
	.post_meta .post_permalink { float:left; }
}
.post_meta span.voting_count {
	padding-right:0;
	position:relative;
}
.post_meta i {
	font-size:16px;
	margin-right:0em;
	padding-right:0.5em;
	color:#d8d8d8;
}
.post_meta .pull-right {
	padding-right:0;
	padding-left:15px;
}
.post_meta hr { margin:.5em 0; }
.post_meta .post_dislike a, .post_meta .post_like a {
	text-decoration:uppercase;
	color:#3c3c3c !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post_meta .post_dislike a i, .post_meta .post_like a i {
	color:#d8d8d8 !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post_meta .post_dislike a:hover, .post_meta .post_like a:hover {
	text-decoration:uppercase;
	color:#4acab4 !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post_meta .post_dislike a:hover i, .post_meta .post_like a:hover i {
	color:#4acab4 !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.share-buttons {
	box-sizing:border-box;
	padding:10px 0 50px 0;
	background:#FFF;
	margin-bottom:0 !important;
	overflow:hidden;
}
.post-author {
	box-shadow:none;
	position:relative;
	margin-bottom:2em;
	background-color:#f8f8f8;
	padding:13px 20px 20px;
	border:none;
}
.post-author_h {
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-weight:400;
	color:#323232;
	margin-bottom:12px;
	margin-top:6px;
	position:relative;
	z-index:2;
}
.post-author_h small {
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-weight:400;
	color:#323232;
	text-transform:capitalize;
}
.post-author_h a {
	color:#000;
	text-transform:capitalize;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post-author_h a:hover {
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post-author_link {
	margin-top:17px;
	font-size:14px;
	font-weight:400;
	color:#919191;
	text-transform:uppercase;
}
.post-author_link p {
	font-family:'Droid Serif', serif;
	font-size:13px;
	font-weight:400;
	color:#a1a1a1;
	margin-bottom:0;
}
.post-author_link a {
	font-size:13px;
	font-weight:400;
	color:#323232;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post-author_link a:hover {
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.post-author_gravatar {
	position:relative;
	z-index:2;
	float:left;
	margin:0 16px 0 0;
}
.post-author_gravatar img {
	padding:0;
	border:0;
	background:#fff;
}
.post-author_desc {
	position:relative;
	z-index:2;
	color:#999999;
	margin-bottom:0;
}
@media (min-width: 1200px) {
	.post-author_desc { overflow:hidden; }
}
#recent-author-posts { margin-bottom:3em; }
.related-posts {
	box-sizing:border-box;
	padding:30px 60px 30px;
	margin-top:30px;
	background:#FFF;
	padding-top:25px;
	overflow:hidden;
	margin:0 0 2em;
	box-shadow:0 0 2px 1px #eeeeee;
}
@media (max-width: 767px) {
	.related-posts { padding:30px 20px; }
}
.related-posts .thumbnail.featured-thumbnail { margin:0 0 25px 0; }
.related-posts_h {
	font-family:'Droid Serif', serif;
	font-size:24px;
	font-weight:400;
	color:#000000;
	margin-top:0;
	padding-bottom:0;
	margin-bottom:38px;
	margin-top:6px;
	position:relative;
	border:none;
	text-align:center;
}
.related-posts_h:after {
	content:"";
	position:relative;
	width:75px;
	height:1px;
	left:0;
	right:0;
	border-radius:0;
	background:#000;
	display:block;
	text-align:center;
	margin:0 auto;
	margin-top:18px;
}
.related-posts_list {
	padding:0;
	margin:0 0 0 -4%;
	font-size:0;
}
.related-posts_item {
	display:inline-block;
	width:21%;
	margin-left:4%;
	margin-bottom:20px;
	padding:0;
	list-style-type:none;
	overflow:hidden;
	vertical-align:top;
	font-family:'Arial', sans-serif;
	font-size:13px;
	line-height:20px;
	color:#999999;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.related-posts_item a {
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
}
.related-posts_item :hover {
	color:#4acab4;
	text-decoration:none;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-ms-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.related-posts_item h5 {
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-weight:400;
	color:#000000;
	line-height:24px;
}
.related-posts_item h5 a {
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-weight:400;
	color:#000;
	line-height:24px;
}
.related-posts .featured-thumbnail {
	float:none;
	overflow:visible;
	margin:0 0 10px 0;
}
@media (max-width: 480px) {
	.related-posts_item { width:46%; }
}
.hero-unit {
	background:none;
	padding:0 140px 0 0;
	margin:16px 0 0;
}
@media (max-width: 1200px) and (min-width: 979px) {
	.hero-unit { padding:0; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit { padding:0; }
}
@media (max-width: 767px) {
	.hero-unit { padding:0; }
}
.hero-unit p {
	font-family:'Droid Serif', serif;
	color:#000;
	text-transform:none;
	font-size:24px;
	line-height:24px;
	font-style:italic;
	margin:0 0 5px 0;
}
.hero-unit p em {
	font-family:'Droid Serif', serif;
	color:#000;
	text-transform:none;
	font-size:14px;
	line-height:30px;
	font-style:italic;
	color:#000;
}
.hero-unit p strong {
	font-family:'Droid Serif', serif;
	color:#000;
	text-transform:none;
	font-weight:normal;
	font-size:14px;
	line-height:24px;
	font-style:italic;
	color:#4acab4;
}
.hero-unit .btn-align {
	position:absolute;
	right:56px;
	top:53px;
}
@media (max-width: 1200px) and (min-width: 979px) {
	.hero-unit .btn-align {
		position:relative;
		margin-topt:20px;
		right:inherit;
		top:inherit;
		left:0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.hero-unit .btn-align {
		position:relative;
		margin-topt:20px;
		right:inherit;
		top:inherit;
		left:0;
	}
}
@media (max-width: 767px) {
	.hero-unit .btn-align {
		position:relative;
		margin-topt:20px;
		right:inherit;
		top:inherit;
		left:0;
	}
}
@media (max-width: 767px) {
	.extra_recent li {
		width:46% !important;
		float:left !important;
		margin-right:20px;
		margin-left:20px;
	}
	.extra_recent li figure { width:100%; }
	.extra_recent li figure img { width:100%; }
}
@media (max-width: 600px) {
	.extra_recent li {
		width:100% !important;
		float:none !important;
		margin-right:0;
		margin-left:0;
		margin-bottom:40px !important;
	}
	.extra_recent li figure { width:100%; }
	.extra_recent li figure img { width:100%; }
}
.posts-grid { margin:0; }
.posts-grid li { margin-bottom:9px; }
.posts-grid li h5 {
	font-family:'Droid Serif', serif;
	color:#333333;
	text-transform:none;
	font-size:18px;
	line-height:24px;
	margin:24px 0 3px;
	padding-right:40px;
}
@media (max-width: 1200px) and (min-width: 979px) {
	.posts-grid li h5 { padding-right:0; }
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid li h5 { padding-right:0; }
}
@media (max-width: 767px) {
	.posts-grid li h5 { padding-right:0; }
}
.posts-grid li h5 a {
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.posts-grid li h5 a:hover {
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.posts-grid li .featured-thumbnail { margin:0; }
.posts-grid li .featured-thumbnail img { width:100%; }
.posts-grid .post_meta {
	font-family:'Droid Serif', serif;
	padding-right:40px;
	border:none;
	position:relative;
	overflow:visible;
}
.posts-grid .post_meta .post_date {
	font-family:'Droid Serif', serif;
	color:#95959a;
	font-style:italic;
	font-size:12px;
}
.posts-grid .post_meta .post_comment {
	font-family:'Droid Serif', serif;
	font-size:12px;
	position:absolute;
	right:-4px;
	top:-21px;
	margin-right:6px !important;
	color:#95959a;
	font-style:italic;
}
@media (max-width: 1200px) and (min-width: 979px) {
	.posts-grid .post_meta .post_comment {
		position:relative;
		top:0;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid .post_meta .post_comment {
		position:relative;
		top:0;
	}
}
@media (max-width: 767px) {
	.posts-grid .post_meta .post_comment {
		position:relative;
		top:0;
	}
}
.posts-grid .post_meta .post_comment a {
	font-size:12px;
	color:#95959a;
	font-style:italic;
	position:relative;
	display:block;
	-webkit-transition:all 0.45s ease;
	-moz-transition:all 0.45s ease;
	-ms-transition:all 0.45s ease;
	-o-transition:all 0.45s ease;
	transition:all 0.45s ease;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
@media (max-width: 1200px) and (min-width: 979px) {
	.posts-grid .post_meta .post_comment a {
		display:inline-block;
		margin-top:5px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid .post_meta .post_comment a {
		display:inline-block;
		margin-top:5px;
	}
}
@media (max-width: 767px) {
	.posts-grid .post_meta .post_comment a {
		display:inline-block;
		margin-top:5px;
	}
}
.posts-grid .post_meta .post_comment a:before {
	position:relative;
	font-style:normal;
	font-family:'FontAwesome';
	content:"\f075";
	color:#e0e0e0;
	font-size:18px;
	display:block;
	-webkit-transition:all 0.45s ease;
	-moz-transition:all 0.45s ease;
	-ms-transition:all 0.45s ease;
	-o-transition:all 0.45s ease;
	transition:all 0.45s ease;
}
@media (max-width: 1200px) and (min-width: 979px) {
	.posts-grid .post_meta .post_comment a:before {
		display:inline-block;
		margin-right:5px;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	.posts-grid .post_meta .post_comment a:before {
		display:inline-block;
		margin-right:5px;
	}
}
@media (max-width: 767px) {
	.posts-grid .post_meta .post_comment a:before {
		display:inline-block;
		margin-right:5px;
	}
}
.posts-grid .post_meta .post_comment a:hover {
	color:#4acab4;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.posts-grid .post_meta .post_comment a:hover:before {
	color:#4acab4;
	-webkit-transition:all 0.25s ease;
	-moz-transition:all 0.25s ease;
	-ms-transition:all 0.25s ease;
	-o-transition:all 0.25s ease;
	transition:all 0.25s ease;
}
.posts-grid .post_meta .post_category { display:none; }
.posts-grid .post_meta .post_author { display:none; }
.posts-grid .post_meta span[class^="post_"] { margin-right:10px; }
.service-box {
	overflow:hidden;
	min-height:20px;
	padding:30px 25px 43px;
	margin-bottom:26px;
	background-color:transparent;
	box-shadow:none;
	border:none;
	box-sizing:border-box;
	box-shadow:0 0 1px 1px #ebebeb;
	border-radius:0;
	text-align:center;
	position:relative;
}
.service-box:before {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	width:100%;
	height:0;
	content:"";
	z-index:-1;
	background-color:#98d7ce;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
}
.service-box:after {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:100%;
	height:100%;
	content:"";
	z-index:-2;
	background-color:#FFF;
}
.service-box:hover .title a {
	color:#FFF;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.service-box:hover .title a:hover {
	color:#333;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.service-box:hover .service-box_txt {
	color:#FFF;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.service-box:hover:before {
	height:100%;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-ms-transition:all 0.4s ease;
	-o-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.service-box:hover .icon {
	border:solid 3px #fff;
	background:#4acab4 !important;
	color:#fff;
	transform:rotateY(360deg);
	-webkit-transform:rotateY(360deg);
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
}
.service-box.nums .icon i, .service-box.nums .icon img { display:none; }
.service-box .extrabox {
	perspective:180;
	-webkit-perspective:180;
	position:relative;
	display:block;
	margin:0 0 38px 0;
}
.service-box .icon {
	width:122px;
	height:122px;
	line-height:122px !important;
	text-align:center;
	background-color:transparent !important;
	font-size:60px;
	font-weight:normal;
	color:#eeeeee;
	float:none;
	margin:0;
	border-radius:500px;
	border:solid 3px #eeeeee;
	display:inline-block;
	transform:rotateY(0deg);
	-webkit-transform:rotateY(0deg);
	-webkit-transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-ms-transition:all 0.6s ease;
	-o-transition:all 0.6s ease;
	transition:all 0.6s ease;
}
.service-box .icon span { display:none; }
.service-box h2 {
	font-family:'Droid Serif', serif;
	font-size:18px;
	font-weight:normal;
	line-height:22px;
	color:#333333;
	margin:0;
	padding:0;
	font-style:normal;
	text-transform:none;
	overflow:hidden;
	border:0;
	margin:0 0 16px 0;
}
.service-box h2:after { display:none; }
.service-box h2 a {
	-webkit-transition:all 0.3s ease-out;
	-moz-transition:all 0.3s ease-out;
	-ms-transition:all 0.3s ease-out;
	-o-transition:all 0.3s ease-out;
	transition:all 0.3s ease-out;
}
.service-box h2 a:hover {
	-webkit-transition:all 0.3s ease-in;
	-moz-transition:all 0.3s ease-in;
	-ms-transition:all 0.3s ease-in;
	-o-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
}
.service-box h5 {
	overflow:hidden;
	margin:0 0 25px;
}
.service-box_txt {
	font-family:'Arial', sans-serif;
	font-size:13px;
	font-weight:normal;
	margin-bottom:25px;
	-webkit-transition:all 0.7s ease;
	-moz-transition:all 0.7s ease;
	-ms-transition:all 0.7s ease;
	-o-transition:all 0.7s ease;
	transition:all 0.7s ease;
}
.service-box .btn-align { text-align:center; }
.service-box__call {
	color:#fff;
	background-color:#0c6abd;
	background-image:-moz-linear-gradient(top,#037cc7,#1950af);
	background-image:-webkit-gradient(linear,0 0,0 100%,from(#037cc7),to(#1950af));
	background-image:-webkit-linear-gradient(top,#037cc7,#1950af);
	background-image:-o-linear-gradient(top,#037cc7,#1950af);
	background-image:linear-gradient(to bottom,#037cc7,#1950af);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff037cc7', endColorstr='#ff1950af', GradientType=0);
}
.service-box__call h2 {
	float:left;
	width:75%;
	color:#fff;
	margin:10px 0 0;
}
.service-box__call .btn-align {
	padding:0;
	width:25%;
	float:right;
}
input[type="submit"].btn-primary, input[type="reset"].btn-primary {
	font-family:'Arial', sans-serif;
	font-size:14px;
	font-style:normal;
	text-shadow:none;
	text-transform:capitalize;
	padding:9px 16px;
	position:relative;
	background:#4acab4;
	border-radius:0;
	box-shadow:none;
	border:none;
	outline:none;
	border-radius:3px;
	height:40px;
	z-index:1;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
input[type="submit"].btn-primary:hover, input[type="reset"].btn-primary:hover {
	background:#24252b;
	border-radius:3px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-family:'Arial', sans-serif;
	font-size:12px;
	margin-bottom:10px;
	color:#FFF;
	margin:0;
	padding:11px 14px;
	width:288px;
	border-radius:0;
	border:1px solid #e5e5e5;
	box-shadow:none;
	outline:none;
}
select:focus, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border:1px solid #e5e5e5;
	box-shadow:none;
	outline:none;
}
label[for^=pwbox] { display:inline-block; }
.wpcf7-form p.field {
	font-family:'Arial', sans-serif;
	font-size:12px;
	position:relative;
	overflow:hidden;
	margin-bottom:7px;
	vertical-align:top;
	color:#a1a1a1;
}
.wpcf7-form p.field input {
	margin:0;
	padding:7px 6px 7px 18px;
	width:100%;
	height:37px;
	font-family:'Arial', sans-serif;
	font-size:12px;
	line-height:20px;
	color:#a1a1a1;
	background:#ffffff !important;
	border:1px solid #e5e5e5 !important;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.wpcf7-form p.field input[type="file"] {
	position:relative;
	cursor:pointer;
	height:37px;
	color:#a1a1a1;
	background:#ffffff !important;
	border:1px solid #e5e5e5 !important;
	border-radius:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.wpcf7-form p.field input[type="file"]:focus {
	box-shadow:none;
	border:1px solid #e5e5e5 !important;
}
.wpcf7-form textarea {
	overflow:auto;
	margin:0;
	padding:13px 6px 7px 18px;
	width:100% !important;
	height:127px;
	line-height:15px;
	color:#a1a1a1 !important;
	background:#ffffff;
	border:1px solid #e3e3e3;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	resize:none;
	overflow:auto;
}
.wpcf7-form textarea:focus {
	box-shadow:none;
	border:1px solid #e3e3e3 !important;
}
span.wpcf7-form-control-wrap { display:block; }
.wpcf7-not-valid-tip {
	position:absolute;
	top:0 !important;
	right:0 !important;
	bottom:0 !important;
	left:0 !important;
	padding:8px 6px !important;
	width:auto !important;
	height:auto !important;
	background:#F2DEDE !important;
	border:1px solid #ddd !important;
	color:#B94A48 !important;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
@media (min-width: 768px) and (max-width: 979px) {
	.wpcf7-not-valid-tip { font-size:11px !important; }
}
div.wpcf7-response-output {
	margin:20px 0 !important;
	padding:6px 35px 6px 14px !important;
	border:1px solid #ddd !important;
	background-color:#FCF8E3;
	color:#C09853;
	text-shadow:0 1px 0 rgba(255,255,255,0.5);
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}
div.wpcf7-validation-errors {
	background-color:#F2DEDE !important;
	border-color:#ddd !important;
	color:#B94A48 !important;
}
div.wpcf7-mail-sent-ok {
	background:#DFF0D8 !important;
	border:1px solid #ddd !important;
	color:#468847 !important;
}
.footer {
	background-color:#24252b;
	padding:3px 0 0;
}
@media (max-width: 767px) {
	.footer {
		padding-left:20px;
		padding-right:20px;
	}
}
.footer-widgets {
	padding-bottom:29px;
	background:#31323a;
	padding-top:7px;
	position:relative;
}
.footer-widgets .wpcf7-form p.field {
	font-family:'Arial', sans-serif;
	font-size:12px;
	position:relative;
	overflow:hidden;
	margin-bottom:7px;
	vertical-align:top;
	color:#FFF;
}
.footer-widgets .wpcf7-form p.field input {
	margin:0;
	padding:7px 6px 7px 18px;
	width:100%;
	height:37px;
	font-family:'Arial', sans-serif;
	font-size:12px;
	line-height:20px;
	color:#FFF;
	background:#24252b !important;
	border:1px solid #3c3d45 !important;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.footer-widgets .wpcf7-form p.field input::-moz-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form p.field input::-ms-input-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form p.field input::-webkit-input-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form p.field input:-moz-placeholder { color:#fff; }
.footer-widgets .wpcf7-form p.field input:-ms-input-placeholder { color:#fff; }
.footer-widgets .wpcf7-form p.field input::-webkit-input-placeholder { color:#fff; }
.footer-widgets .wpcf7-form p.field input[type="file"] {
	position:relative;
	cursor:pointer;
	height:37px;
	color:#FFF;
	background:#24252b !important;
	border:1px solid #3c3d45 !important;
	border-radius:0;
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
}
.footer-widgets .wpcf7-form p.field input[type="file"]::-moz-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form p.field input[type="file"]::-ms-input-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form p.field input[type="file"]::-webkit-input-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form p.field input[type="file"]:-moz-placeholder { color:#fff; }
.footer-widgets .wpcf7-form p.field input[type="file"]:-ms-input-placeholder { color:#fff; }
.footer-widgets .wpcf7-form p.field input[type="file"]::-webkit-input-placeholder { color:#fff; }
.footer-widgets .wpcf7-form p.field input[type="file"]:focus {
	box-shadow:none;
	border:1px solid #3c3d45 !important;
}
.footer-widgets .wpcf7-form textarea {
	overflow:auto;
	margin:0;
	padding:13px 6px 7px 18px;
	width:100% !important;
	height:127px;
	line-height:15px;
	color:#FFF !important;
	background:#24252b;
	border:1px solid #3c3d45 !important;
	border-radius:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	resize:none;
	overflow:auto;
}
.footer-widgets .wpcf7-form textarea::-moz-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form textarea::-ms-input-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form textarea::-webkit-input-placeholder {
	color:#fff;
	opacity:1;
}
.footer-widgets .wpcf7-form textarea:-moz-placeholder { color:#fff; }
.footer-widgets .wpcf7-form textarea:-ms-input-placeholder { color:#fff; }
.footer-widgets .wpcf7-form textarea::-webkit-input-placeholder { color:#fff; }
.footer-widgets .wpcf7-form textarea:focus {
	box-shadow:none;
	border:1px solid #3c3d45 !important;
}
.footer-widgets .wpcf7-form .submit-wrap {
	margin:0;
	padding:0;
	margin-top:20px;
}
.footer-widgets .wpcf7-form .submit-wrap .btn.btn-primary {
	font-family:'Arial', sans-serif;
	font-size:14px;
	font-style:normal;
	text-shadow:none;
	padding:9px 17px;
	position:relative;
	text-transform:none !important;
	background:#4acab4;
	border-radius:0;
	box-shadow:none;
	border:none;
	outline:none;
	border-radius:3px;
	margin-top:1px;
	z-index:1;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .wpcf7-form .submit-wrap .btn.btn-primary:hover {
	background:#24252b;
	border-radius:3px;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .social { margin-bottom:42px; }
@media (max-width: 767px) {
	.footer-widgets .social { margin-bottom:20px; }
}
.footer-widgets .social li {
	display:inline-block;
	overflow:hidden;
	margin:0 3px 0 0;
	font-size:0;
	line-height:0;
}
.footer-widgets .social li a {
	width:26px;
	height:26px;
	color:#FFF;
	margin-right:25px;
	background:transparent !important;
	position:relative;
	display:inline-block;
	overflow:hidden;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .social li a i {
	font-size:24px;
	color:#4acab4;
	position:absolute;
	margin:0;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .social li a:hover {
	background:transparent !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .social li a:hover i {
	text-decoration:none;
	color:#FFF;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer .footer-text {
	float:none;
	text-align:center;
	text-transform:capitalize;
	font-family:'Arial', sans-serif;
	font-size:12px;
	line-height:20px;
	color:#FFF;
	margin:15px auto;
	position:relative;
	z-index:2;
}
.footer .footer-text a {
	color:#FFF !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer .footer-text a:hover {
	text-decoration:none !important;
	color:#4acab4 !important;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets:before {
	background:#31323a;
	content:"";
	position:absolute;
	top:0;
	width:101%;
	height:100%;
	left:-99%;
	z-index:-1;
}
.footer-widgets:after {
	top:0;
	position:absolute;
	background:#31323a;
	content:"";
	width:101%;
	height:100%;
	z-index:-1;
	right:-99%;
}
.footer-widgets select { width:100%; }
.footer-widgets ul { margin-left:0; }
.footer-widgets ul li {
	list-style:none;
	margin-bottom:7px;
}
.footer-widgets ul li a {
	font-family:'Arial', sans-serif;
	font-size:12px;
	line-height:23px;
	color:#FFF;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets ul li a:hover {
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .post-list li {
	overflow:hidden;
	padding-top:1.5em;
	padding-bottom:0;
	margin-bottom:0 !important;
}
.footer-widgets .post-list li:first-child {
	padding-top:0;
	border:none;
}
.footer-widgets .post-list_h {
	font-family:'Arial', sans-serif;
	font-size:12px;
	line-height:23px;
	margin:0 0 2px;
	color:#FFF;
	text-transform:none;
}
.footer-widgets .post-list_h a {
	color:#FFF;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .post-list_h a:hover {
	color:#4acab4;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.footer-widgets .post-list time {
	font-family:'Droid Serif', serif;
	font-size:12px;
	line-height:20px;
	font-style:italic;
	margin:0;
	color:#95959a;
	text-transform:none;
}
.footer-widgets .post-list .excerpt { margin-bottom:10px; }
@media (max-width: 767px) {
	.footer-widgets { text-align:left; }
}
.footer-widgets h4 {
	font-family:'Arial', sans-serif;
	font-size:18px;
	font-weight:normal;
	margin:45px 0 23px;
	text-transform:uppercase;
	color:#FFF;
}
@media (min-width: 768px) and (max-width: 979px) {
	.footer-widgets h4 { font-size:20px; }
}
@media (max-width: 767px) {
	.footer-widgets h4 {
		text-align:left;
		margin-bottom:20px;
	}
}
.footer-widgets .textwidget {
	font-family:'Arial', sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:400;
	color:#FFF;
}
.footer-widgets .textwidget address span {
	font-family:'Arial', sans-serif;
	font-size:13px;
	line-height:20px;
	font-weight:400;
	color:#FFF;
	display:block;
	margin-bottom:16px;
}
nav.footer-nav {
	padding:20px 0;
	float:none;
	text-align:center;
	overflow:hidden;
}
nav.footer-nav ul {
	margin:0;
	padding:0;
	float:none;
	text-align:center;
}
nav.footer-nav ul .sub-menu { display:none; }
nav.footer-nav ul li {
	float:none;
	display:inline-block;
	margin:0 5px;
	padding-left:0;
	list-style-type:none;
}
@media (min-width: 768px) and (max-width: 979px) {
	nav.footer-nav ul li {
		display:inline;
		padding:0 10px;
	}
}
@media (max-width: 767px) {
	nav.footer-nav ul li { margin:0 5px; }
}
nav.footer-nav ul li a {
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
nav.footer-nav ul li a:hover {
	color:#aff7f3;
	text-decoration:none;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
nav.footer-nav ul li.current-menu-item a {
	color:#aff7f3;
	text-decoration:underline;
	-webkit-transition:all 0.2s ease;
	-moz-transition:all 0.2s ease;
	-ms-transition:all 0.2s ease;
	-o-transition:all 0.2s ease;
	transition:all 0.2s ease;
}
.testimonial {
	position:relative;
	margin-bottom:35px;
	padding:30px;
	border:none;
	background:#FFF;
	font-style:normal;
	font-family:Arial, sans-serif;
	line-height:1.5em;
	box-shadow:0 0 2px 1px #eeeeee;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.testimonial_bq {
	margin:0;
	padding:0;
	border:none;
}
.testimonial_content {
	overflow:hidden;
	background:url(images/quotes.png) no-repeat 0 0;
}
.testimonial_content p {
	font-family:Arial, sans-serif;
	font-size:13px;
	font-weight:normal;
	line-height:20px;
	color:#999999;
	font-style:normal;
}
@media (min-width: 768px) and (max-width: 979px) {
	.testimonial .featured-thumbnail {
		width:80px;
		height:80px;
	}
}
.testimonial small {
	font-family:Arial, sans-serif;
	font-size:13px !important;
	font-weight:normal;
	padding:12px 0 0;
	font-size:11.05px;
}
@media (min-width: 768px) and (max-width: 979px) {
	.testimonial {
		padding:15px;
		background-position:150px 10px;
	}
}
@media (max-width: 767px) {
	.testimonial {
		padding:15px;
		background-position:150px 10px;
	}
}
#back-top { display:none; }
#back-top-wrapper {
	position:fixed;
	right:10px;
	bottom:10px;
	overflow:hidden;
	z-index:99;
}
#back-top a {
	display:block;
	width:50px;
	color:#bbb;
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font:11px/100% Arial, Helvetica, sans-serif;
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
	transition:1s;
}
#back-top a:hover { color:#000; }
#back-top a:hover span { background-color:#24252b; }
#back-top span {
	display:block;
	margin-bottom:7px;
	width:50px;
	height:50px;
	background-color:#4acab4;
	-webkit-transition:1s;
	-moz-transition:1s;
	-ms-transition:1s;
	-o-transition:1s;
	transition:1s;
}
.zoom-icon {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:block !important;
	opacity:1 !important;
	visibility:visible !important;
	background:transparent !important;
	cursor:pointer;
	-webkit-transition:0.7s;
	-moz-transition:0.7s;
	-ms-transition:0.7s;
	-o-transition:0.7s;
	transition:0.7s;
}
.zoom-icon:after {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:0 solid #4acab4;
	content:"";
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-ms-transition:0.5s;
	-o-transition:0.5s;
	transition:0.5s;
	z-index:200;
}
.no-rgba .zoom-icon {
	visibility:hidden;
	display:none;
}
.zoom-icon:before {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	margin:0;
	width:0px;
	height:0px;
	background:url(images/magnify-alt.png) 50% 50% no-repeat;
	content:"";
	border-radius:500px;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-ms-transition:0.4s;
	-o-transition:0.4s;
	transition:0.4s;
}
.featured-thumbnail a:hover .zoom-icon:before, a.thumbnail:hover .zoom-icon:before, .thumbnail__portfolio a:hover .zoom-icon:before {
	width:80px;
	height:80px;
	margin:-40px 0 0 -40px;
	border-radius:500px;
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.featured-thumbnail a:hover .zoom-icon:after, a.thumbnail:hover .zoom-icon:after, .thumbnail__portfolio a:hover .zoom-icon:after {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border:10px solid #4acab4;
	content:"";
	-webkit-transition:0.3s;
	-moz-transition:0.3s;
	-ms-transition:0.3s;
	-o-transition:0.3s;
	transition:0.3s;
}
.no-rgba .image-wrap:hover .zoom-icon, .featured-thumbnail a:hover .zoom-icon, a.thumbnail:hover .zoom-icon, .thumbnail__portfolio a:hover .zoom-icon { visibility:visible; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:30px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
