/*--

	Theme Name: theme49622

	Theme URI: http://info.template-help.com/help/

	Description: A theme for Wordpress 3.8.x

	Author: Template_Help.com

	Author URI: http://info.template-help.com/help/

	Template: CherryFramework

	Version: 3.1

--*/


/* ----------------------------------------

	Longevity Graphics Code

---------------------------------------- */

p a{color:#055f07; font-weight:bold;}
p a:hover{color:#333; font-weight:bold;}

.doneright {background-color:#fff; display:block; margin:0 auto; min-height:400px;}

.logosubtext {
	color:#195493;
	font-size:85%;
	position:absolute;
	top:4em;z-index:9999;
	left:8em;
	font-style: italic;}

.tel {
	left:25px;margin-top:20px;font-size:18px !important;}

.content_box .full-block-wrap{width:auto !important;}

@media screen and (max-width: 768px) {

	
header .span8 {
    width: 100% !important;
}
	
	
	.tel {
    clear: both;
    display: block;
    font-size: 18px !important;
    left: 25px;
    margin: 0 auto;
    width: 50%;
}

}

@media screen and (max-width: 480px) {
	
	
	.tel {left: 0px !important;}
	
	.logospace h2 {font-size:14px !important;  left: 80px !important;}	
	
	.logospace h1 {  left: 7em !important;
    position: absolute !important;
    top: 3em !important;}
}

@media screen and (max-width: 320px)  {
	
	
	
	
}
/* ----------------------------------------

	Longevity Graphics Code

---------------------------------------- */

body {

    color: #333333 !important;

    font-family: 'Arial',sans-serif !important;

    font-size: 14px !important;

    line-height: 20px !important;

}

header .span4 {

    width: 400px;

}

header .span8 {

    width: 730px;

}

header a.logo_h {

    display: block;

}

.parallax-bg[style]{

	background: url("/wp-content/uploads/2017/11/slide1.jpg") no-repeat scroll center 0 rgba(0, 0, 0, 0) !important;
	background-size:cover !important;

}

.content-holder:before {

    height: 0 !important;

}

input.btn-primary[type="submit"], input.btn-primary[type="reset"] {

    background: none repeat scroll 0 0 #055f07 !important;

}

.fg-panel .fg-theme-white, .fg-panel .fg-theme-white:visited {

    background: none repeat scroll 0 0 #6056B9 !important;

    color: #FFFFFF !important;

}

.fg-panel .fg-theme-white:hover{

    background: none repeat scroll 0 0 #034D00 !important;

    color: #FFFFFF !important;

}

.main-holder:before {

    height: 0 !important;

}

h2:after {

    background: none !important;

}

.parallax-box h2, .parallax-box h3 {

    text-shadow: 1px 1px 3px #666;

}

.sf-menu ul {

    width: 13.3em !important;

}

.sf-menu ul ul {

    margin-top: -10px !important;

}