/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);
/* #General
================================================== */


body{
	overflow-x: hidden;
    @media (max-width: 767px){
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}


.title-header{
    display: none;
}

/* Placeholder text*/
/* -------------------------*/
.placeholder(@color: @placeholderText) {
  &::-moz-placeholder {
    color: @color;
    opacity: 1;
  }
  &::-ms-input-placeholder {
    color: @color;
    opacity: 1;
  }
  &::-webkit-input-placeholder {
    color: @color;
    opacity: 1;
  }
}

.main-holder{
    &:before{
        background: #a3e8dc;
        position: relative;
        display: block;
        width: 100%;
        height: 20px;
        content: "";
        box-shadow: inset 0 -1px 4px 1px rgba(146,217,203,0.3);
    }
    
    padding: 0;  
	.mobile &,
	.tablet & {
		overflow: hidden;
	}
}



#content{
    padding-top: 30px;
}

.content-holder {
    background: #fbfaf6	url(images/content_pattern.jpg);
    padding-bottom: 45px;
    
    &:before{
        position: relative;
        display: block;
        width: 100%;
        height: 20px;
        content: "";
        box-shadow: inset 0 2px 1px 1px rgba(107,141,139, 0.5);
       	background: transparent	url(images/bgpagesheader.jpg) center top no-repeat;
        background-size: cover;
    }
    
    @media (max-width: 767px){
        padding: 0 20px 40px;  
    }
    
}

.content_box {
    background: #FFF;
    box-sizing: border-box;
    padding: 26px 61px;
    margin-bottom: 30px;
    @media (min-width: 768px) and (max-width: 979px) {
        padding: 26px 20px;  
    }
    @media (max-width: 767px){
        padding: 26px 20px;  
    }
    
}
.extra_cbox1{
    padding: 38px 49px 64px;  
    margin-bottom: 7px;
}

.home &{
    
    .content-holder {
        &:before{
            display: none;
        }
    }

    .header{
        box-shadow: 0 2px 3px 3px rgba(107,141,139,0.4)
        &:after{
            display: none;
        }
    }

}

.ie8{
    
    .posts-grid{
        img{
            max-width: none;
        }    
    }
    
    .service-box:hover{
        
        & .title{
            a{
                color: #333;
            }
            a:hover{
                color: @green;
            }
        }
        
        & .service-box_txt{
            color: #333;
        }
        
        .icon{
            border: solid 3px @white;
            background: @green !important;
            color: @white;
        }
    }
    
    .divider{
        width: 30px;
        margin: 40px 10px 10px;
    }
    
    .hero-unit {

    	& .btn-align {
            position: relative;
            margin-topt: 20px;
            right: inherit;
            top: inherit;
            left: 0;
            
    	}
    }
    
}


.thumbnail, .featured-thumbnail{
    padding: 0;
    border: none;   
    border-radius: 0;        
    opacity: 1;
    box-shadow: 0 0 4px 2px rgba(239,239,239, 1);
}


.btn.btn-primary{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    text-shadow: none;
    text-transform: capitalize;
    padding: 9px 28px;
    position: relative;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    border: none;
    outline: none;    
    border-radius: 3px;   
    z-index: 1;
    &:before{
        content:"";
        position: absolute;
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        background: #333333;
        z-index: -1;
        border-radius: 3px;   
        .transition(all 0.4s ease); 
    }
    &:after{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        border-radius: 3px;   
        background: @green;
        z-index: -2;
        .transition(all 0.2s ease); 

    }
}
.btn.btn-primary:hover{
    &:before{
        height: 100%;
        border-radius: 3px;   
        .transition(all 0.2s ease); 
    }
}

a:hover{
    text-decoration: none;
}


h2{
    text-align: center;
    padding-bottom: 39px;
    padding-top: 22px;
    margin-top: 0;
    margin-bottom: 0;
    &:after{
        content:"";
        position: relative;
        width: 75px;
        height: 1px;
        left: 0;
        right: 0;
        border-radius: 0;   
        background: #000;
        display: block;
        text-align: center;
        margin: 0 auto;
        margin-top: 18px;  
    }
}


/* #Header
================================================== */

/* sticky menu */
.pseudoStickyBlock{
    background: #FFF;
}
.isStuck.header{
    box-shadow: 0 2px 1px 1px rgba(107,141,139, 0.5);
    -webkit-transform: translateZ( 0 );
    &:before{
            background: #FFF;
            height: 0;
            .transition(all 0.3s ease); 
        }   
    &:after{
            height: 0;
            .transition(all 0.3s ease); 
        }  
}



.header{
    text-align: center;
    right: 0;
    left: 0;
    padding: 0 0;
    border: none;
    display: block;
	background:	#FFF ; /* 8-bit indexed alpha png. IE6 gets solid image only */
    background-image: none; 
            box-shadow: 0 0 3px 1px rgba(107,141,139, 0.4);
}


/*/ navigation */

/* Essential styles for dropdown menu */
.sf-menu, .sf-menu * {
	margin:	0;
	padding: 0;
	list-style:	none;
	float: right;
    
}

.nav__primary {
        @media (max-width: 767px){
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
}

.sf-menu {
    padding: 45px 0 15px 0;
    margin-bottom: 0;
	line-height: 1.0;
}
.sf-menu ul {
	display: none;
	position: absolute;
	top: -999em;
    padding: 17px 0;
    margin-left: 0px;
    margin-top: 30px;
    background: #FFF;    
    box-shadow: 0 0 3px 1px rgba(107,172,164,0.3);
	width: 9.3em; /* left offset of submenus need to match (see below) */
}

.sf-menu ul ul{
    margin-left: 10px;
    box-shadow: 0 0 3px 1px rgba(107,172,164,0.3);
}

.sf-menu {
	float: right;
    margin-right: 13px;
}
.sf-menu > li {
	background:	transparent;
	text-align: center;
    margin-left: 3px;
}
.sf-menu > li > a {
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    font-style: normal;
    background: transparent;
    font-weight: 400 !important;
    padding: 0;
    margin: 0 16px;
    border: none;
    color: #929292;
	text-decoration: none;
    border-bottom: 0px solid #929292;
    .transition(all 0.3s ease); 
    &.sf-with-ul{  
        padding-right: 0!important;
    }
}
.sf-menu li .desc {
	display: block;
	font-size: 0.9em;
}
.sf-menu li li {
    margin-bottom: 0;
    background: transparent;
    display: block;
    text-align: center;
    
}

/*-submenu1-*/


/* Our skin for dropdown menu */
.sf-menu li li a {
    font-family: 'Droid Serif', serif;
    font-size: 12px;
    font-style: normal;
    background: transparent;
    font-weight: 400;
	text-decoration: none;
    text-align: center;
    color: #929292;
    display: block;
    padding: 3px 0;
    float: none;
    margin: 0;
    border: none !important;
    .transition(all 0.3s ease); 
    &.sf-with-ul{
        padding: 0;     
    }
    .sf-sub-indicator {
        display: inline-block;
        position: relative;
        padding: 0;   
        top: 3px;
        right: 20px;
    }
     
}


.sf-menu > li > a:hover, 
.sf-menu > li.sfHover> a,
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current_page_item > a {
    color: #333333; 
    border-bottom: 2px solid #929292;
    background: transparent;
    .transition(all 0.3s ease); 
    .sf-sub-indicator {
    	background-position: -10px -100px;
    }
}
.sf-menu li li > a:hover, 
.sf-menu li li.sfHover > a,
.sf-menu li li.current-menu-item > a,
.sf-menu li li.current_page_item > a  {
    color: #333333; 
    border-bottom: 2px solid #929292;
    background: transparent;
    .transition(all 0.3s ease); 
    
    
}

/*** arrows **/
.sf-sub-indicator {
    top: 1.4em;
    right: 50%;
    margin-right: -5px !important;
	background:	url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}

/* Navigation select styling */
.select-menu {
	display: none;
	background-color: #FFF;
    color: #000000;
	width: 100%;
	height: 35px;
	padding: 5px;
	margin: 0;
	cursor: pointer;
	outline: none;
	.border-radius(0);
}
.select-menu:focus {
    
}
.select-menu option {
	padding: 5px;
	cursor: pointer;
}
.select-menu option.main_item {
	font-weight: bold;
}

@media (max-width: 1200px) and (min-width: 979px){
    
    .sf-menu > li > a {
        margin: 0 14px;      
    }
    
    
}

@media (min-width: 768px) and (max-width: 979px) {
    
    .sf-menu > li > a {
        margin: 0 14px;
    }     
    
    .sf-menu > li {
        margin-left: 0;
    }
    
    .sf-menu ul {
        margin-left: 0px;
        padding: 15px 0;
    	width: 8em; /* left offset of submenus need to match (see below) */
    }
    
    .sf-menu li li a {
        
    }
    
    .sf-menu ul ul{
        margin-left: -10px;
    }
    
    .sf-menu {
        padding: 30px 0 0px 0;
    }
     
}


@media (max-width: 767px){
    
    .select-menu {
        margin-bottom: 20px;
    }
    
    .nav {
        margin: 20px 0 0 0;
    }
    
}


/*/ Header */


/* Logo
---------------------------------------- */


.logo{
    padding: 24px 0 17px;
    text-align: left;
    line-height: 0;
    margin-left: 0;
    text-transform: uppercase;
    color: #333333;
    
        @media (max-width: 767px){
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    
        .logo_tagline{
            font-family: 'Droid Serif', serif;
            color: #a1a1a1;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
        }
        
        .logo_h__txt{    
            a:hover{
                color: #333333 !important;
            }
        	@media (min-width: 768px) and (max-width: 979px) {
        	}
            @media (max-width: 767px){
            }
            &:after{
            display: none;
        }
        
        .logo_link{
            text-transform: uppercase;
            font-weight: normal;    
        	@media (min-width: 768px) and (max-width: 979px) {
        	}
        }
    }
}


/*/ Logo */




/* #Content
================================================== */



/* Breadcrumb
---------------------------------------- */
.breadcrumb__t {
    background: #ffffff;
	margin: 0;
    box-shadow: 0 0 1px 1px rgba(238,238,238, 1);
    border-radius: 0;
    padding: 9px 14px 10px;
	.hyphens(auto);
	li {
		display: inline;
		&.active {
		      color: #232323;
            font-family: 'Droid Serif', serif;
            font-size: 14px;
            font-style: normal;
            text-transform: uppercase;
            background: transparent;
            font-weight: 400;
		}
		&.divider {
		  
			.hide-text();
            margin: 0 7px;
            
			&:after {
				content: ' // ';
				color: #979797;
                font-family: 'Droid Serif', serif;
                font-size: 14px;
                font-style: normal;
                text-transform: uppercase;
                background: transparent;
                font-weight: 400;
			}
		}
		a { 
    		color: #979797;
            font-family: 'Droid Serif', serif;
            font-size: 14px;
            font-style: normal;
            text-transform: uppercase;
            background: transparent;
            font-weight: 400;
            &:hover{
                color: #232323;  
                .transition(all 0.3s ease);  
            }
		}
	}
}
/* /Breadcrumb */




/***** Button round *****/

.divider{
    
    margin: 40px 28px 10px;
    
    @media (max-width: 1200px) and (min-width: 979px){
        width: 30px;
        margin: 40px 10px 10px;
    }

    @media (min-width: 768px) and (max-width: 979px) {
        display: none;   
    }
    
    @media (max-width: 767px){
        display: none;      
    }
}

.btn.btn-primary.round_button{
    font-family: 'Droid Serif', serif;
    text-align: center;
    position: relative;
    width: 172px;
    height: 172px;
    border-radius: 500px !important;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 !important;    
    
    @media (min-width: 768px) and (max-width: 979px) {
        margin: 10px  
    }
    @media (max-width: 767px){
        margin: 10px       
    }
    
    @media (max-width: 600px){
        margin: 10px auto;
        text-align: center;      
        display: block;
    }
    
    strong{
        font-family: 'Droid Serif', serif;
        display: block;
        font-size: 18px;
        padding-top: 68px;
        vertical-align: middle;
        line-height: 28px;
        font-weight: 400 !important;
    }
    em{
        font-family: 'Droid Serif', serif;
        font-size: 12px;
        display: block;
        line-height: 20px;
        text-transform: none;
    }
    
    &:before{
        content:"";
        position: absolute;
        width: 0%;
        height: 0%;
        left: 0%;
        bottom: 0%;
        background: #333333;
        z-index: -1;
        border-radius: 3px;   
        border-radius: 500px !important;
        .transition(all 0.6s ease); 
    }
    &:after{
        content:"";
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        border-radius: 500px;   
        background: @green;
        z-index: -2;
        .transition(all 0.6s ease); 

    }
}
.btn.btn-primary.round_button:hover{ 
    &:before{
        height: 90%;
        width: 90%;
        left: 5%;
        bottom: 5%;
        .transition(all 0.3s ease); 
    }
    &:after{
        background: @blue;
        .transition(all 0.4s ease); 

    }
}



/****** Paralax ******/
.parallax-box {
    position: relative;
    box-sizing: border-box;
    padding: 159px 100px 123px;
    text-align: center;
    margin-bottom: 33px;
    @media (max-width: 767px){
        padding: 150px 20px;
    }
    @media (max-width: 480px){
        padding: 70px 20px;
    }
    h2{
        font-family: 'Droid Serif', serif;
        color: #FFF;
        text-transform: uppercase;
        font-size: 48px;
        line-height: 60px;
        padding: 0;
        margin: 0 0 22px;
        &:after{
            display:none;
        }
        em{
           color: #aff7f3; 
           text-transform: lowercase;
        }
        @media (max-width: 767px){
                font-size: 28px;
                line-height: 30px;
        }
        
    }
    h3{
        font-family: 'Droid Serif', serif;
        color: #FFF;
        text-transform: capitalize;
        font-size: 24px;
        line-height: 28px;
        margin: 0;  
        strong{
           color: #aff7f3; 
           font-weight: normal !important;
        }
        @media (max-width: 767px){
            font-size: 16px;
            line-height: 24px;
        }
    }
}



/*/ Content */

/* 404 Error Page
---------------------------------------- */

    
/*   search form  */
#searchform{
    .search-form_it{
        border: 1px solid #e5e5e5;     
        width: 90%;
        color: #999999; 
        padding: 9px 14px;
    }
    .search-form_is{
        margin-top: 8px;
        color: #FFF;               
    }
}

.error404-holder {
	padding: 30px 0 100px 0;

	&_num {
		text-align: center;
		font-size: 250px;
		line-height: 1.2em;

		/* Landscape phones and down */
		@media (max-width: 480px) {
			font-size: 120px;
		}
	}//404 number

	.hgroup_404 {
		margin:0 0 2em 0;
		padding-top:50px;

		h1 {
			margin-bottom:.2em;
			font-size:3em;
		}
        
        h2{
            text-align: left;
        
            &:after{
                display: none;
            }
        }
        
	}//.hgroup_404
}//404 holder


/* #Comments
================================================== */

    
    /* Filterable Portfolio
    ---------------------------------------- */
    
    
    .filter-wrapper {
    	float: none;
        margin-top: 20px;
        margin-bottom: 0;
        border-bottom: none;
        text-align: center;
        @media (max-width: 767px) {
            width: 100%;
        }
        .pull-right{
            float: none;
            text-align: center;
            display: inline-block;
        }
        
    	strong { 
            padding: 0;
            font-family: 'Droid Serif', serif;
            font-size: 16px;
            line-height: 24px;
            position: relative;
			white-space: nowrap;
            background: transparent;
            text-transform: capitalize;
            color: #a1a1a1;
            font-weight: normal;
            margin-right: 0;
    	}
    	.nav {
    		overflow: hidden;
            margin-bottom: 14px;
            @media (max-width: 767px) {
                margin: 0 0;
            }
    		@media (max-width: 480px) {
                margin: 0 0 0 0;
    		} 
    	}
        
    }
    
.nav-pills {
    text-align: center;    
    width: 410px;     
        @media (max-width: 550px) {
            width: inherit;
        }
    	li {
    
    		a {
                font-family: 'Droid Serif', serif;
                font-size: 16px;
                line-height: 24px;
                position: relative;
    			white-space: nowrap;
                background: transparent;
                text-transform: capitalize;
                color: #a1a1a1;
                padding: 0;
                margin: 0 0px 8px 21px;
                border-radius: 0;
                .transition(all 0.2s ease);         
                @media (max-width: 570px) {
                    margin: 0 0px 8px 5px;
                }
                
    		}
            a:hover, a:focus{
                color: #FFF !important;
                background: transparent !important;
                .transition(all 0.2s ease); 
            }
    	}
    	li:hover, li:focus {
            a{
                color: #333333 !important;
                background: transparent !important;
                .transition(all 0.2s ease); 
            }
    	}
     
    	li.active {
            a{
                color: #333333 !important;
                background: transparent !important;
                position: relative;
                .transition(all 0.2s ease); 
            }        
            a:hover{
                color: #333333 !important;
                background: transparent !important;
                .transition(all 0.2s ease); 
            }
    	}
    
}
    .filterable-portfolio {
    	position:relative;
    	visibility:hidden;
    	overflow:hidden;
    	margin:0 -10px;
    
    	& .portfolio_item {
    		display:block;
    		float:left;
    		-webkit-box-sizing: border-box;
    		-moz-box-sizing: border-box;
    		box-sizing: border-box;
    		margin:0 0 29px 0;
    		padding:0 10px;
    		width:0;
    	}
    
    	& .portfolio_item.nomargin {
    		margin-right:0;
    	}
    	& .portfolio_item_holder {
    	   padding: 0;
    	   background: transparent;
    		overflow:hidden;
            margin-top: 0;
            p{
                margin-bottom: 25px;
                text-align: center;
            }
            .caption__portfolio{
                background: #FFF;
                padding: 25px 21px 5px;
                .transition(all 0.2s ease); 
            }
            &:hover{
                .caption__portfolio{
                    background: #dedede;
                    .transition(all 0.2s ease); 
                }                
            }
    	}
        & .meta{
            margin: 0 0 0;
            span{
                font-family: 'Droid Serif', serif;
                font-size: 18px;
                line-height: 24px;
                font-weight: 400;
    			white-space: nowrap;
                background: transparent;
                text-transform: uppercase;
                color: @blue;
            }
        }
    
    	& h3 {
            margin: 0 0 16px;
            text-align: center;
            a{
                font-family: 'Droid Serif', serif;
                font-size: 18px;
                line-height: 24px;
                font-weight: normal;
    			white-space: nowrap;
                color: #333333;
                text-decoration: none;
                    .transition(all 0.2s ease); 
            }
            a:hover{
                color: @green;
                    .transition(all 0.2s ease); 
            }
    	}
    }
/* end portfolio */


    #comments .pagination{
        display: none;
    }

    #respond {
        box-sizing: border-box;
        padding: 30px 61px 40px;
        margin-top: 30px;
        background: #FFF;
        padding-top: 25px; 
        @media (max-width: 767px){
            padding: 30px 20px;
        } 
        box-shadow: 0 0 1px 1px rgba(238,238,238, 1);
        
        
/* Comment form */
#commentform {
    
  
}
  #commentform p.field {
    
  }
    #commentform small {
        
    }
  #commentform label {
    display:block;
  }
  #commentform input[type="text"] { 
    
    
        border: 1px solid #e5e5e5 !important;
        box-shadow: none;
        
      &:focus{
        box-shadow: none;
        border: 1px solid #e5e5e5 !important;
    }
        font-family: 'Arial', sans-serif;
        font-size: 13px;
        margin-bottom:10px;
        color: #a1a1a1;
        margin: 0;
        padding: 9px 10px;
        width: 348px;
        border-radius: 0;
  }
  #commentform input[type="submit"] {
    
  }
  #commentform input[type="submit"]:hover {

  }
  #commentform textarea {
    
    color: #a1a1a1;
    box-shadow: none;
    border: 1px solid #e5e5e5 !important;
    padding: 7px 10px;
    
    margin-bottom: 20px !important;
    
    &:focus{
        box-shadow: none;
        border: 1px solid #e5e5e5;
    }
    
    overflow:auto;
    margin: 0;
    min-width: 100%;
    min-height:200px;
    max-width: 100%;
    width: 100%;
    height:200px;
    border-radius: 0;
    color: #919191;
    border-color:@tableBorder;
    .children & {
      .box-sizing(border-box);
      width: 100%;
      max-width: 100%;
      min-width: 100px;
    }
  }
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) {
    #commentform textarea {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        .box-sizing(border-box);
    }
  }
  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
    #commentform input[type="text"] {
      width: 100%;
      height: 37px;
      .box-sizing(border-box);
    }
    #commentform textarea {
      width: 100%;
      max-width: 100%;
      min-width: 100%;
      .box-sizing(border-box);
    }
  }


        
        & h3 {
            font-family: 'Droid Serif', serif;
            font-size: 24px;
            font-weight: 400;
            color: #000000;
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 38px;
            margin-top: 6px;
            position: relative;
            border: none;
            text-align: center;
            &:after{
                content:"";
                position: relative;
                width: 75px;
                height: 1px;
                left: 0;
                right: 0;
                border-radius: 0;   
                background: #000;
                display: block;
                text-align: center;
                margin: 0 auto;
                margin-top: 18px;  
            }
        }
        
    }
    
    
    .comments-h{
            font-family: 'Droid Serif', serif;
            font-size: 24px !important;
            font-weight: 400;
            color: #000000;
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 28px;
            margin-top: 6px;
            position: relative;
            border: none;
            text-align: center;
            &:after{
                content:"";
                position: relative;
                width: 75px;
                height: 1px;
                left: 0;
                right: 0;
                border-radius: 0;   
                background: #000;
                display: block;
                text-align: center;
                margin: 0 auto;
                margin-top: 18px;  
            }
    }

    .comment-holder{
        box-sizing: border-box;
        padding: 30px 61px 40px;
        margin-top: 30px;
        background: #FFF;
        padding-top: 25px; 
        @media (max-width: 767px){
            padding: 30px 20px;
        } 
        box-shadow: 0 0 1px 1px rgba(238,238,238, 1); 
    }
    

    .comment .comment-body {
        position: relative;
        overflow: hidden;
        margin-top: 10px;
        padding: 26px 20px;
        border: none;
        background: #f6f6f6 !important;
        zoom: 1;
        color: #999999;
        border: none;
    }
    
    .comment .comment-body p {
        font-family: 'Arial', sans-serif;
        font-size: 13px;
        font-weight: 400;   
        color: #999999; 
        margin-bottom: 0 !important;
    }
    .author-comment {
    
    }
    .comment-author {
        float: left;
        margin: 0 16px 0 0;
    }
    .comment-author .author {
        font-family: 'Droid Serif', serif;
        font-size: 13px !important;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        padding-top: 18px;
        width:65px;
        text-align:left;
        font-size:14px;
        font-weight: 400;
        color: #323232;
    }
    .comment-text {
    
    }
    
    .commentmetadata{
        font-family: 'Droid Serif', serif;
        font-size: 13px !important;
        text-transform: uppercase;
        font-weight: 400;
        text-align:left;
        font-size:14px;
        font-weight: 400;
        color: #323232;
        margin-top: 0;
    }
    
    /* Reply */
    .reply {
      float: right;
      margin-left: 14px; 
      line-height: 22px;   
        margin-top: -2px;
    }
    .reply a {
        font-family: 'Droid Serif', serif;
        font-size: 13px !important;
        text-transform: uppercase;
        font-weight: 400;
        text-align:left;
        font-size:14px;
        font-weight: 400;
        color: #323232;
        .transition(all 0.3s ease); 
    }
     .reply a:hover {
        text-decoration: none;
        color: @green;
        .transition(all 0.3s ease); 
    }


/*/ Comments */



/* #Widgets
================================================== */

#sidebar{
    padding-top: 30px;
}

.widget {
    position: relative;
    box-sizing: border-box;
    background: #FFF;
    box-sizing: border-box;
    padding: 38px 28px;
    margin-bottom: 40px;
    overflow: hidden;
    box-shadow: 0 0 2px 1px rgba(238,238,238, 1); 
    @media (max-width: 767px){
        padding: 30px 20px;
    }     
    
    select{
        width: 100% !important;
        height: 39px;
        color: #323232;
        padding: 9px 10px;
    }
    
    .social { 
    	margin: 0;
    
    	&_li {
            & a:before{
                display: none;
            }
    	}
    }
    
    .flickr_list{
        & li {
            & a:before{
                display: none;     
            }
        }
    }

    h3{
        text-align: center;
        font-family: 'Droid Serif', serif;
        font-size: 18px;
        font-style: normal;
        color: #333333;
        text-transform: capitalize;
        background: transparent;
        font-weight: normal !important;
        position: relative;
        padding: 0;
        margin: 0 0 23px;
        border-bottom: none;
    }


    /* Categories widget */
        ul{
            list-style: none;
            margin-left: 0;
            padding: 0;
            margin-bottom: 0;
            ul{
                margin-left: 20px;
            }
        }
        ul li {
            
            border: none;
            position: relative;
            margin-bottom: 9px;
            
            a{
                color: #323232;
                font-family: 'Arial', sans-serif;
                font-size: 12px;
                line-height: 20px;
                font-weight: 400; 
                margin-bottom: 0;
                background-color: transparent;
                .transition(all 0.2s ease);   
            }
            a:hover{
                text-decoration: none;
                color: @green;  
                .transition(all 0.2s ease);  
            }
        }
    /* end categwidget */
    
/* Posts List */
    .post-list {
    
    	& li {
    		overflow:hidden;
    		padding-top:0;
    		padding-bottom: 5px;
            .featured-thumbnail.thumbnail a:before{
                display: none !important;
            }
    	}
    	& li:first-child{
    		padding-top:0;
            margin-bottom: 0;
    		border:none;
    	}
        
        & .featured-thumbnail.thumbnail{
            margin: 7px 19px 10px 0;
            box-shadow: none;
                	@media (max-width: 480px) {
                        margin: 7px 15px 10px 0;
                	}
        }
        
        & time{
            color: #333333;
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            line-height: 20px; 
            margin-bottom: 18px;
            position: relative;
            display: block;
        }
    	&_h {
            margin: 0px 0 10px;
    	   a{
            color: #333333;
            font-family: 'Droid Serif', serif;
            font-size: 14px;
            line-height: 20px; 
                &:before{
                    display: none;
                }
            }
    	}
    	& .excerpt {
    	   margin-bottom: 20px;
           a{
            color: #999999;
                .transition(all 0.2s ease);  
           }
           a:hover{
            color: @green;
                .transition(all 0.2s ease);  
           }

    	}
    	&_comment {
    
    	}
        .btn.btn-primary{
            color: #FFF;
        }
        .btn.btn-primary:hover{
            color: #FFF;
        }
    }
    /*/ Posts List */
    
    
    
    /* Custom Recent Comments */
    .comments-custom {
        
        & .featured-thumbnail.thumbnail{
            margin-top: 8px;
            margin-right: 25px;
            box-shadow: none;
        }
    	
    	& li {
    		overflow:hidden;
    		margin:0;
    		padding:5px 0 25px 0;
    		border-bottom:none;
    		background:none;
    	}
    	& li:first-child {
    		padding-top:0;
    		border-top:none;
    	}
    	&_txt {
    		padding: 0;
    		border-top: none;
            margin-top: 4px;
    	}
    		&_txt a {
    			text-decoration: none;
                color: #999999;
               &:before{
                    display: none !important;
               }
    		}
    		&_txt a:hover {
    			text-decoration: none;
                color: @green;
    		}
    	&_h_title,  &_h_author{
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            line-height: 20px; 
            color: #333333;
            text-transform: lowercase !important;
    		margin-bottom:5px;
    	    margin-top: 16px;
    	}
    	&_h_author:first-letter{
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            line-height: 20px; 
            color: #333333;
            text-transform: lowercase !important;
    	}
    	& i {
    		font-size: 16px;
    		margin-right: .5em;
    		color: @iconColor;
    		float: left;
    		min-width: 15px;
    		text-align: center;
    	}
    	& .ladle{
     		float:left;
     		padding-right: 5px;
    	}
    	.meta_format{
    	   & time{
               font-family: 'Droid Serif', serif;
               font-size: 12px;
               line-height: 20px; 
               margin-top: 12px;
               font-style: italic;
               color: #95959a;
               display: block;
           }
     	}
    }
    /*/ Custom Recent Comments */
    

    /* Calendar */
    #wp-calendar td {
    	padding:6px 0;
    	border:none;
    	text-align:center;
        &#today{
            background-color: @green;
            color: #FFF;
        }
    }
    #wp-calendar caption {
    	margin-bottom:5px;
    	padding:4px 0;
    	color:#999999;
    	font-weight:bold;
    	font-size:16px;
    	text-align:center;
    }
    #wp-calendar thead th {
    	padding:7px 0;
    	color:@green;
    	text-align:center;
    	font-size:14px;
    }
    		
    /*/ Calendar */
    
    /*   search form  */
    #searchform{
        .search-form_it{
            border: 1px solid #e5e5e5;     
            width: 90%;
            color: #999999; 
        }
        .search-form_is{
            margin-top: 8px;
            color: #FFF;               
        }
    }
    
    /* bannrewrapper */
    .banner_wrapper {
        img{
            max-width: 100%;
        }
    }
    
    /*   flexslider */
    .widget-flexslider{
        .btn.btn-primary{
            color: #FFF !important;
        }
        .btn.btn-primary:hover{
            color: #FFF !important;
        }
    }
    .flex-direction-nav .flex-prev{
        left: 0;
        margin: 10px 0 0;
        color: @blue;
    }
    .flex-direction-nav .flex-next{
        right: 0;
        margin: 10px 0 0;
        color: @blue;
    }
    
}



.blog_bg{
    position: relative;
    box-sizing: border-box;
    background: #FFF;
    box-sizing: border-box;
    padding: 30px 61px;
    margin-bottom: 40px;
    box-shadow: 0 0 2px 1px rgba(238,238,238, 1); 
    @media (max-width: 767px){
        padding: 30px 20px;
    }     
}

/* Blog */

.post__holder{
    background: #FFF;
    box-sizing: border-box;
    padding: 30px 61px;
    margin-bottom: 40px;
    box-shadow: 0 0 2px 1px rgba(238,238,238, 1); 
    @media (max-width: 767px){
        padding: 30px 20px;
    }    

}

.single-post .post__holder{
    background: #FFF;
    box-sizing: border-box;
    margin-bottom: 0;  
    padding: 0;
    box-shadow: none; 
}

.post_wrapper{
    background: #FFF;
    box-sizing: border-box;
    margin-bottom: 40px;
    
.featured-thumbnail.large {
    overflow: hidden;
    margin-right: 0;
    margin-bottom: 26px;
    }
        
    .post-header{
        margin-top: 0;
        margin-bottom: 32px;
        
        .post-title{
            padding-top: 0;
            padding-bottom: 6px;    
            /*            
                &:after{
                    background: #000;
                    .transition(all 0.25s ease);
                    }
                &:hover{
                    &:after{
                    background: @green;
                    .transition(all 0.25s ease);
                    }
                }
            */
            
            a{
                font-family: 'Droid Serif', serif;
                font-size: 24px;
                font-style: normal;
                text-transform: capitalize;
                background: transparent;
                font-weight: 400;
                color: #000;
                .transition(all 0.25s ease);  
            }
            a:hover{
                color: @green;   
                .transition(all 0.25s ease);  
            }            
        }
        
    }
    .post_content{
        padding-bottom: 40px;        
    }
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
        border-radius: 3px !important; 
    }
    
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
        border-radius: 3px !important; 
    }

.pagination.pagination__posts{
    
    ul{
      box-shadow: none;
            li{
                a{
                    background-color: #FFF;
                    .transition(all 0.2s ease); 
                }
                a:hover{
                    color: #FFF;
                    background-color: @green;
                    .transition(all 0.2s ease); 
                }
            }  
            li.active a{
                color: #FFF;
                background-color: @green;
                .transition(all 0.2s ease); 
            }
    }

}


/* post_meta */

.post_meta {
	overflow:hidden;
	margin-bottom:1em;
	padding:.5em 0;
    color: #919191 !important;
	border-top:1px solid #dcdcdb;
	border-bottom:1px solid #dcdcdb;
    text-transform: uppercase;
	font-size:.92em;
	div[class^="post_"]{
        font-family: 'Droid Serif', serif;
		display: inline-block;
        font-size: 13px !important;
        text-transform: uppercase;
		line-height: 20px;
		padding: 0 5px;
		@media (max-width: 767px) {
			display: block;
		}
        a{
            font-family: 'Droid Serif', serif;
    		display: inline-block;
            font-size: 13px !important;
            text-transform: uppercase;
            color: #a1a1a1;
            .transition(all 0.2s ease); 
        }
        a:hover{
            text-decoration: none;
            color: @green;
            .transition(all 0.2s ease); 
        }
		.not_voting{
			cursor: default;
			color: inherit;
			span{
				color: inherit;
			}
		}
		.ajax_voting{
			color: inherit;
			span{
				color: inherit;
			}
		}
		.user_voting{
			cursor: default;
			i, span{
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-out;
			}
		}
		.user_like{
			cursor: default;
			i, span{
				color: #d8d8d8;
			}
			i{
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-out;
			}
		}
		.user_dislike{
			cursor: default;
			i, span{
				color: #d8d8d8;
			}
			i{
				transition: all 0.2s ease-in-out;
				-webkit-transition: all 0.2s ease-out;
			}
		}
		.animation_item{
			position: absolute;
			top: 0px;
			right: 0px;
		}
		a{
			text-transform: uppercase;
		}
	}
	&>div&_unite {
		display: block;
		border-top:1px solid @tableBorder;
		padding-top: .5em;
		margin-top: .5em;
		&:first-child{
			border-top:none;
			margin-top:0;
			padding-top:0;
		}
	}
    & .post_author{
        a{
            color: #a1a1a1 !important;
            text-transform: uppercase;
        }
        a:hover{
            color: @green !important;
        }
    }
    
     & .post_comment{
        a{
            color: #323232 !important;
            text-transform: uppercase;
        }
        a:hover{
            color: @green !important;
        }
    }
    
    & .post_date{
    
            time{
                color: #323232 !important;
                }

    }

	& .post_permalink {
	   
        a{
            color: #323232 !important;
            text-transform: uppercase;
        }
        a:hover{
            color: @green !important;
        }
       
		float: right;
		padding-right: 0;
		@media (max-width: 767px) {
			float: left;
		}
	}
	& span.voting_count{
		padding-right: 0;
		position: relative;
	}
	& i {
		font-size: 16px;
		margin-right: 0em;
		padding-right: 0.5em;
		color: #d8d8d8;
	}
	& .pull-right {
		padding-right: 0;
		padding-left: 15px;

	}
	& hr {
		margin:.5em 0;
	}
	.post_dislike, .post_like{
		a{
		  i{
		      
            color: #d8d8d8 !important;
            .transition(all 0.2s ease); 
		  }
			text-decoration: uppercase;
            color: #3c3c3c !important;
            .transition(all 0.2s ease); 
		}
		a:hover{
			text-decoration: uppercase;
            color: @green !important;
            .transition(all 0.2s ease); 
		  i{
            color: @green !important;
            .transition(all 0.2s ease); 
		  }
		}
	}
}           
/* end post_meta */

/****** share buttons ********/

.share-buttons{
    box-sizing: border-box;
    padding: 10px 0 50px 0;
    background: #FFF;
    margin-bottom: 0 !important;
    overflow: hidden;
}

/****** end share buttons ********/


/* Author Page
---------------------------------------- */
    .post-author {
        
        box-shadow: none; 
        position: relative;
    	margin-bottom:2em;
        background-color: #f8f8f8;
        padding: 13px 20px 20px;
    	border: none;
        

    
    	&_h {
            font-family: 'Droid Serif', serif;
            font-size: 18px;
            font-weight: 400;
            color: #323232;
            margin-bottom: 12px;
            margin-top: 6px;
            position: relative;
            z-index: 2;
            small{
                font-family: 'Droid Serif', serif;
                font-size: 18px;
                font-weight: 400;
                color: #323232;
                text-transform: capitalize;
            }
            a{
                color: #000;
                text-transform: capitalize;
                .transition(all 0.2s ease);  
            }
            a:hover{
                color: @green;
                .transition(all 0.2s ease);  
            }
    	}
    	&_link {
                margin-top: 17px;
                font-size: 14px;
                font-weight: 400;
                color: #919191;
                text-transform: uppercase;
                p{
                    font-family: 'Droid Serif', serif;
                    font-size: 13px;
                    font-weight: 400;
                    color: #a1a1a1;
                    margin-bottom: 0;
                }
            a{
                font-size: 13px;
                font-weight: 400;
                color: #323232;
                .transition(all 0.2s ease);  
            }
            a:hover{
                color: @green;
                .transition(all 0.2s ease);  
            }
    	}
    	&_gravatar {
            position: relative;
            z-index: 2;
    		float: left;
            margin: 0 16px 0 0;
    		& img {
    			padding:0;
    			border: 0;
    			background:#fff;
    		}
    	}
    	&_desc {

           position: relative;
           z-index: 2;
           color: #999999;
           margin-bottom: 0;
            @media (min-width: 1200px){
                overflow: hidden;
            }
    
    	}
    }
    
    /* Recent author posts */
    #recent-author-posts {
    	margin-bottom:3em;
    }
    
    /* Recent author comments */
    #recent-author-comments {
    	
    }

/* Related Posts */
    .related-posts {
        box-sizing: border-box;
        padding: 30px 60px 30px;
        margin-top: 30px;
        background: #FFF;
        padding-top: 25px;
    	overflow:hidden;
    	margin:0 0 2em;
        box-shadow: 0 0 2px 1px rgba(238,238,238, 1); 
        @media (max-width: 767px){
            padding: 30px 20px;
        }
        
        & .thumbnail.featured-thumbnail{
            margin: 0 0 25px 0; 
        }
    
    	&_h {
            font-family: 'Droid Serif', serif;
            font-size: 24px;
            font-weight: 400;
            color: #000000;
            margin-top: 0;
            padding-bottom: 0;
            margin-bottom: 38px;
            margin-top: 6px;
            position: relative;
            border: none;
            text-align: center;
            &:after{
                content:"";
                position: relative;
                width: 75px;
                height: 1px;
                left: 0;
                right: 0;
                border-radius: 0;   
                background: #000;
                display: block;
                text-align: center;
                margin: 0 auto;
                margin-top: 18px;  
            }
    	}
    	&_list {
    		padding: 0;
    		margin: 0 0 0 -4%;
    		font-size: 0;
    	}

    		&_item {
    			display: inline-block;
    			width: 21%;
    			margin-left: 4%;
    			margin-bottom: 20px;
    			padding: 0;
    			list-style-type:none;
    			overflow: hidden;
    			vertical-align: top;
                font-family: 'Arial', sans-serif;
                font-size: 13px;
                line-height: 20px;
                color: #999999 ;
                .transition(all 0.3s ease); 
                a{  
                    font-family: 'Droid Serif', serif;
                    font-size: 18px;
                    font-weight: 400;
                    color: #000000;
                }
                & :hover{
                    color: @green;
                    text-decoration: none;
                    .transition(all 0.3s ease);  
                }
                
                & h5{
                    font-family: 'Droid Serif', serif;
                    font-size: 18px;
                    font-weight: 400;
                    color: #000000;
                    line-height: 24px;
                    a{                    
                        font-family: 'Droid Serif', serif;
                        font-size: 18px;
                        font-weight: 400;
                        color: #000;
                        line-height: 24px;
                    }
                }
                
    		}
    		&_item:first-child {
    			//margin-left:0;
    		}
    		.featured-thumbnail {
    			float:none;
    			overflow:visible;
    			margin:0 0 10px 0;
    
    		}
    
    	/* Landscape phones and down */
    	@media (max-width: 480px) {
    		&_item {
    			width: 46%;
    		}
    	}
    
    }
    
/*/ Related Posts */






/*/ Widgets */



/* #Shortcodes
================================================== */

/* Hero Unit
---------------------------------------- */
.hero-unit {

    background: none;
    padding: 0 140px 0 0;
    margin: 16px 0 0;
    
            @media (max-width: 1200px) and (min-width: 979px){

                padding:  0;
            }
            @media (min-width: 768px) and (max-width: 979px) {
                padding:  0;
            }
            @media (max-width: 767px) {
                padding:  0;
            }

	& p {
	   
        font-family: 'Droid Serif', serif;
        color: #000;
        text-transform: none;
        font-size: 24px;
        line-height: 24px;
        font-style: italic;
        margin: 0 0 5px 0;
        em{
            font-family: 'Droid Serif', serif;
            color: #000;
            text-transform: none;
            font-size: 14px;
            line-height: 30px;
            font-style: italic;   
            color: #000;         
        }
        strong{
            font-family: 'Droid Serif', serif;
            color: #000;
            text-transform: none;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            font-style: italic; 
            color: @green;           
        }
        

	}
	& .btn-align {
        position: absolute;
        right: 56px;
        top: 53px;
        
            @media (max-width: 1200px) and (min-width: 979px){
                position: relative;
                margin-topt: 20px;
                right: inherit;
                top: inherit;
                left: 0;
            }
            @media (min-width: 768px) and (max-width: 979px) {
                position: relative;
                margin-topt: 20px;
                right: inherit;
                top: inherit;
                left: 0;
            }
            @media (max-width: 767px) {
                position: relative;
                margin-topt: 20px;
                right: inherit;
                top: inherit;
                left: 0;
            }
        
	}
}
/* /Hero Unit */


/* Posts Grid
-----------------------------------------*/


.extra_recent li{
        @media (max-width: 767px) {
            width: 46% !important;
            float: left !important;
            margin-right: 20px;
            margin-left: 20px;
            figure{
                    width:100%;
                img{
                    width:100%;
                }
            }
        }
        @media (max-width: 600px) {
            width: 100% !important;
            float: none !important;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: 40px !important;
            figure{
                    width:100%;
                img{
                    width:100%;
                }
            }
        }
}

.posts-grid {
	margin: 0;

	& li {
		margin-bottom: 9px;
        
        h5{
            font-family: 'Droid Serif', serif;
            color: #333333;
            text-transform: none;
            font-size: 18px;
            line-height: 24px;  
            margin: 24px 0 3px;
            padding-right: 40px;
            @media (max-width: 1200px) and (min-width: 979px){
                padding-right: 0;
            }
            @media (min-width: 768px) and (max-width: 979px) {
                padding-right: 0;   
            }
            @media (max-width: 767px) {
                padding-right: 0;   
            }
            & a {
                .transition(all 0.25s ease); 
            }
            & a:hover{
                .transition(all 0.25s ease); 
            }
        }
	}

	& li .featured-thumbnail {
		margin: 0;
		img {
			width: 100%;
		}
	}
	.post_meta{
        font-family: 'Droid Serif', serif;
       padding-right: 40px;
       border: none;
       position: relative;
        overflow: visible;
       
       .post_date{
            font-family: 'Droid Serif', serif;
            color: #95959a;
            font-style: italic;
            font-size: 12px;
       }
       
       .post_comment{
            font-family: 'Droid Serif', serif;
            font-size: 12px;
            position: absolute;
            right: -4px;
            top: -21px;
            margin-right: 6px !important;
            color: #95959a;
            font-style: italic;
            
            @media (max-width: 1200px) and (min-width: 979px){
                position: relative;
                top: 0;
            }
            @media (min-width: 768px) and (max-width: 979px) {
                position: relative;
                top: 0;    
            }
            @media (max-width: 767px) {
                position: relative;
                top: 0;    
            }
            a{ 
                font-size: 12px;
                color: #95959a;
                font-style: italic;
                position: relative;
                display: block;
                
                    @media (max-width: 1200px) and (min-width: 979px){
                            display: inline-block;
                            margin-top: 5px;
                        }
                        @media (min-width: 768px) and (max-width: 979px) {
                            display: inline-block;
                            margin-top: 5px;
                        }
                        @media (max-width: 767px) {
                            display: inline-block;  
                            margin-top: 5px;
                        }
                
                .transition(all 0.45s ease); 
                &:before{
                    position: relative;
                    font-style: normal;
                    font-family: 'FontAwesome';
                    content: "\f075";
                    color: #e0e0e0;
                    font-size: 18px;
                    display: block;
                    .transition(all 0.45s ease); 
                    
                    
                        @media (max-width: 1200px) and (min-width: 979px){
                            display: inline-block;
                            margin-right: 5px;
                        }
                        @media (min-width: 768px) and (max-width: 979px) {
                            display: inline-block;
                            margin-right: 5px;
                        }
                        @media (max-width: 767px) {
                            display: inline-block;  
                            margin-right: 5px;
                        }
                    
                }
                .transition(all 0.25s ease); 
            }
            a:hover{ 
                    color: @green;
                &:before{
                    color: @green;
                    .transition(all 0.25s ease); 
                }
                .transition(all 0.25s ease); 
            }
       }
       
       .post_category{
            display: none;
       }
       .post_author{
            display: none;
       }
       
		span[class^="post_"]{
		  margin-right: 10px;
		}
	}
}




/* Services Box
---------------------------------------- */
.service-box {
	overflow:hidden;
	min-height: 20px;
    padding: 30px 25px 43px;
    margin-bottom: 26px;
	background-color: transparent;
    box-shadow: none;
	border: none;
    box-sizing: border-box;
    box-shadow: 0 0 1px 1px rgba(235,235,235, 1);
    border-radius: 0;
    text-align: center;
    position: relative;
    &:before{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 0;
        content: "";
        z-index: -1;
   	    background-color: #98d7ce;
        .transition(all 0.7s ease); 
    }
    &:after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: "";
        z-index: -2;
   	    background-color: #FFF;
    }
        
    &:hover{
        
        & .title{
            a{
                color: #FFF;
                .transition(all 0.5s ease); 
            }
            a:hover{
                color: #333;
                .transition(all 0.2s ease); 
            }
        }
        
        & .service-box_txt{
            color: #FFF;
            .transition(all 0.5s ease); 
        }
        
        &:before{
            height: 100%;
            .transition(all 0.4s ease); 
        }
        
        .icon{
            border: solid 3px @white;
            background: @green !important;
            color: @white;
            transform: rotateY(360deg);
            -webkit-transform: rotateY(360deg);  
            .transition(all 0.7s ease); 
        }
    }
    
    
    &.nums{      /* numbers */
        .icon{
            i, img{  
                display:none;
            }
        }
        
    }
    
     & .extrabox{
        perspective: 180;
        -webkit-perspective: 180;   
        position: relative;
        display: block;
        margin: 0 0 38px 0;
    }
    
    
	& .icon {
       width: 122px;
       height: 122px;
       line-height: 122px !important;
       text-align: center;   
       background-color: transparent!important;
	   font-size: 60px;
       font-weight: normal;
       color: #eeeeee;
	   float:none;
       margin: 0;
       border-radius: 500px;
       border: solid 3px #eeeeee;
       display: inline-block;

       
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);          
            
        .transition(all 0.6s ease); 
        
       span{
            display:none;
       }
	}
	& h2 {
        font-family: 'Droid Serif', serif;
        font-size: 18px;
        font-weight: normal;
        line-height: 22px;
        color: #333333;
        margin: 0;
        padding: 0;
        font-style: normal;
        text-transform: none;
		overflow:hidden;
        border: 0;
        margin: 0 0 16px 0;        
        &:after{
            display:none;
        }
        a{
            .transition(all 0.3s ease-out); 
        }
        a:hover{
            .transition(all 0.3s ease-in); 
        }
	}
	& h5 {
		overflow:hidden;
		margin:0 0 25px;
	}
	&_txt {
        font-family: 'Arial', sans-serif;    
        font-size: 13px;
        font-weight: normal; 
        margin-bottom:25px;  
        .transition(all 0.7s ease); 
       }
	& .btn-align {
	   text-align:center;
       }
	&__call {
		color: #fff;
		#gradient > .vertical (#037cc7, #1950af);
		h2 {
			float: left;
			width: 75%;
			color: #fff;
			margin: 10px 0 0;
		}
		.btn-align {
			padding: 0;
			width: 25%;
			float: right;
		}
	}
}


    /* Contact form */
    
    /* Form Elements */
    input[type="submit"],
    input[type="reset"] {
        
        &.btn-primary{
              font-family: 'Arial', sans-serif;
                font-size: 14px;
                font-style: normal;
                text-shadow: none;
                text-transform: capitalize;
                padding: 9px 16px;
                position: relative;
                background: @green;
                border-radius: 0;
                box-shadow: none;
                border: none;
                outline: none;    
                border-radius: 3px;   
                height: 40px;
                z-index: 1;
                    .transition(all 0.2s ease); 
                &:hover{
                        background: #24252b;
                        border-radius: 3px;   
                        .transition(all 0.2s ease); 
                }
            }
        
    }
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
    
            font-family: 'Arial', sans-serif;   
            font-size: 12px;
            margin-bottom:10px;
            color: #FFF;
            margin: 0;
            padding: 11px 14px;
            width: 288px;
            border-radius: 0;
            border: 1px solid #e5e5e5 ;
            box-shadow: none;
    		outline: none;
    
        	&:focus {
                border: 1px solid #e5e5e5 ;
                box-shadow: none;
        		outline: none;
        	}
    
    }

/* Password Protected post */
label[for^=pwbox] {
	display: inline-block;
}
    
    .wpcf7-form {
        
    	p.field {
            font-family: 'Arial', sans-serif;   
            font-size: 12px;
    		position: relative;
    		overflow: hidden;
            margin-bottom: 7px;
    		vertical-align: top;
            color: #a1a1a1;
    		input {
    			margin: 0;
                padding: 7px 6px 7px 18px;
    			width: 100%;
                height: 37px;
                font-family: 'Arial', sans-serif;   
                font-size: 12px;
                line-height: 20px; 
                color: #a1a1a1;
                background: #ffffff !important;
                border: 1px solid #e5e5e5 !important;
                border-radius: 0;
    			.box-sizing(border-box);
    		}
    		input[type="file"] {
    			position: relative;
    			cursor: pointer;
                height: 37px;
                color: #a1a1a1;
                background: #ffffff !important;
                border: 1px solid #e5e5e5 !important;
                border-radius: 0;
    			.box-sizing(content-box);
                &:focus{
                    box-shadow: none;
                    border: 1px solid #e5e5e5 !important;
                }
    		}
            
    	}
    	textarea {
    		overflow: auto;
    		margin: 0;
            padding: 13px 6px 7px 18px;
            width: 100% !important;
            height: 127px;
    		line-height: 15px;
            color: #a1a1a1 !important;
            background: #ffffff;
            border: 1px solid #e3e3e3;
            border-radius: 0;
    		.box-sizing(border-box);
    		.resizable(none);
                    
            &:focus{
                box-shadow: none;
                border: 1px solid #e3e3e3 !important;
            }
    
    	}

    }
    span.wpcf7-form-control-wrap {
    	display: block;
    }
    .wpcf7-not-valid-tip {
    	position: absolute;
    	top: 0 !important;
    	right: 0 !important;
    	bottom: 0 !important;
    	left: 0 !important;
    	padding: 8px 6px !important;
    	width: auto !important;
    	height: auto !important;
    	background: #F2DEDE !important;
    	border: 1px solid @tableBorder !important;
    	color: #B94A48 !important;
    	.border-radius(0);
    	.box-sizing(border-box);
    	@media (min-width: 768px) and (max-width: 979px) {
    		font-size: 11px !important;
    	}
    }
    div.wpcf7-response-output {
    	margin:20px 0 !important;
    	padding: 6px 35px 6px 14px !important;
    	border: 1px solid @tableBorder !important;
    	background-color: #FCF8E3;
    	color: #C09853;
    	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    	.border-radius(0);
    }
    div.wpcf7-validation-errors {
    	background-color: #F2DEDE !important;
    	border-color: @tableBorder !important;
    	color: #B94A48 !important;
    }
    div.wpcf7-mail-sent-ok {
    	background: #DFF0D8 !important;
    	border: 1px solid @tableBorder !important;
    	color: #468847 !important;
    }

/*/ Shortcodes */



/* #Footer
================================================== */

.footer{
    background-color: #24252b;
    padding: 3px 0 0;			
    
        @media (max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }
}

.footer-widgets{
    padding-bottom: 29px;
    background: #31323a;
    padding-top: 7px;
    position: relative;
        
    .wpcf7-form {
        
    	p.field {
            font-family: 'Arial', sans-serif;   
            font-size: 12px;
    		position: relative;
    		overflow: hidden;
            margin-bottom: 7px;
    		vertical-align: top;
            color: #FFF;
    		input {
    			margin: 0;
                padding: 7px 6px 7px 18px;
    			width: 100%;
                height: 37px;
                font-family: 'Arial', sans-serif;   
                font-size: 12px;
                line-height: 20px; 
                color: #FFF;
                .placeholder(@white);
                background: #24252b !important;
                border: 1px solid #3c3d45 !important;
                border-radius: 0;
    			.box-sizing(border-box);
    		}
    		input[type="file"] {
    			position: relative;
    			cursor: pointer;
                height: 37px;
                color: #FFF;
                .placeholder(@white);
                background: #24252b !important;
                border: 1px solid #3c3d45 !important;
                border-radius: 0;
    			.box-sizing(content-box);
                
                &:focus{
                    box-shadow: none;
                    border: 1px solid #3c3d45 !important;
                }
    		}
            
    	}
    	textarea {
    		overflow: auto;
    		margin: 0;
            padding: 13px 6px 7px 18px;
            width: 100% !important;
            height: 127px;
    		line-height: 15px;
            color: #FFF !important;
            background: #24252b;
            border: 1px solid #3c3d45 !important;
            border-radius: 0;
            .placeholder(@white);
    		.box-sizing(border-box);
    		.resizable(none);
                    
            &:focus{
                box-shadow: none;
                border: 1px solid #3c3d45 !important;
            }
    
    	}
    	.submit-wrap {
    		margin: 0;
    		padding: 0;
            margin-top: 20px;
            .btn.btn-primary{
                  font-family: 'Arial', sans-serif;
                    font-size: 14px;
                    font-style: normal;
                    text-shadow: none;
                    padding: 9px 17px;
                    position: relative;
                    text-transform: none !important;
                    background: @green;
                    border-radius: 0;
                    box-shadow: none;
                    border: none;
                    outline: none;    
                    border-radius: 3px;   
                    margin-top: 1px;
                    z-index: 1;
                        .transition(all 0.2s ease); 
                    &:hover{
                            background: #24252b;
                            border-radius: 3px;   
                            .transition(all 0.2s ease); 
                    }
                }
    	}
    }
}
/* Social */
.footer-widgets .social{
    margin-bottom: 42px;
    @media (max-width: 767px){
        margin-bottom: 20px;
    }
}

.footer-widgets .social li{
        display: inline-block;
        overflow: hidden;
        margin: 0 3px 0 0;
        font-size: 0;
        line-height: 0;
        
        a{
            width: 26px;
            height: 26px;
            color: #FFF;
            margin-right: 25px;
            background: transparent !important;
            position: relative;
            display: inline-block;
            overflow: hidden;
            .transition(all 0.2s ease); 
            i{
                font-size: 24px;
                color: #4acab4;    
                position: absolute;
                margin: 0;
                .transition(all 0.2s ease); 
            }
        }
        a:hover{
        
            i{
                text-decoration: none;
                color: #FFF;    
                .transition(all 0.2s ease); 
            }
            background: transparent !important;    
            .transition(all 0.2s ease); 
        }
        
}

.footer .footer-text{
    float: none;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Arial', sans-serif;   
    font-size: 12px;
    line-height: 20px; 
    color: #FFF;
    margin: 15px auto;
    position: relative;
    z-index: 2;
    & a{
        color: #FFF !important; 
        .transition(all 0.2s ease);        
    }
    & a:hover{
        text-decoration: none !important;
        color: @green !important;   
        .transition(all 0.2s ease);      
    }
}

/* footer-widgets */

.footer-widgets:before{
        background: #31323a;
        content: "";
        position: absolute;
        top: 0;
        width: 101%;
        height: 100%;
        left: -99%;
        z-index: -1;    
    }
    
.footer-widgets:after{
        top: 0;
        position: absolute;
        background: #31323a;
        content: "";
        width: 101%;
        height: 100%;
        z-index: -1; 
        right: -99%;
    }


.footer-widgets{


    /* for dropdown */
    select{
        width: 100%;
    }
    

    /*archive_lists*/
    ul{
        margin-left: 0;
       & li{
            list-style: none;
            margin-bottom: 7px;
            a{            
                font-family: 'Arial', sans-serif;   
                font-size: 12px;
                line-height: 23px;
                color: #FFF;
                .transition(all 0.2s ease); 
            }
            a:hover{
                color: @green;
                .transition(all 0.2s ease); 
            }
       }         
    }

    /* Posts List */
    .post-list {
    
    	& li {
    		overflow:hidden;
    		padding-top:1.5em;
            padding-bottom: 0;
            margin-bottom: 0 !important;
    	}
    	& li:first-child{
    		padding-top:0;
    		border:none;
    	}
    	&_h {
            font-family: 'Arial', sans-serif;   
            font-size: 12px;
            line-height: 23px;
            margin: 0 0 2px;
            color: #FFF;
            text-transform: none;
            a{
                color: #FFF;
                .transition(all 0.2s ease); 
            }
            a:hover{
                color: @green;
                .transition(all 0.2s ease); 
            }
    	}
        time{
            font-family: 'Droid Serif', serif;            
            font-size: 12px;
            line-height: 20px; 
            font-style: italic;
            margin: 0;
            color: #95959a;
            text-transform: none;
        }
    	& .excerpt {
    		margin-bottom: 10px;
    	}
    	&_comment {
    
    	}
    }
    /*/ Posts List */
    
    

	@media (max-width: 767px) {
        text-align: left;
	}
    
    h4{
        font-family: 'Arial', sans-serif;    
        font-size: 18px;
        font-weight: normal; 
        margin: 45px 0 23px;
        text-transform: uppercase;     
        color: #FFF;  
        
       	@media (min-width: 768px) and (max-width: 979px) {
            font-size: 20px;
    	}
        
    	@media (max-width: 767px) {
		  text-align: left;
            margin-bottom: 20px;
	   }
        

        
    }
    .textwidget{
        font-family: 'Arial', sans-serif;   
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;    
        color: #FFF;        

        address{
            span{
                font-family: 'Arial', sans-serif;   
                font-size: 13px;
                line-height: 20px;
                font-weight: 400;    
                color: #FFF;   
                display: block;   
                margin-bottom: 16px;            
            }            
        }
    }
}




/* Footer navigation */
nav.footer-nav {
    padding: 20px 0;
	float:none;
    text-align: center;
	overflow: hidden;
	@media (min-width: 768px) and (max-width: 979px) {
	}
	@media (max-width: 767px) {
	}
	@media (max-width: 480px) {
	}
	@media (max-width: 360px) {
	}

	ul {
		margin:0;
		padding:0;
		float: none;
        text-align: center;
		.sub-menu {
			display: none;
		}
		li {
			float:none;
            display: inline-block;
			margin:0 5px;
			padding-left:0;
			list-style-type:none;
			@media (min-width: 768px) and (max-width: 979px) {
				display: inline;
				padding: 0 10px;
			}
			@media (max-width: 767px) {
			 margin:0 5px;
			}
			a {
				text-decoration: none;
                .transition(all 0.2s ease); 
				&:hover {
					color: @blue;
					text-decoration: none;
                    .transition(all 0.2s ease); 
				}
			}
		}
		li.current-menu-item a {
		    color: @blue;
			text-decoration: underline;
            .transition(all 0.2s ease); 
		}
	}
}


/*/ Footer */



/* #Misc
================================================== */

/* Testimonials Page
---------------------------------------- */
.testimonial {
	position: relative;
	margin-bottom:35px;
	padding:30px;
	border: none;
	background:#FFF;
	font-style:normal;
    font-family: Arial, sans-serif;
	line-height:1.5em;    
    box-shadow: 0 0 2px 1px rgba(238,238,238, 1); 
	.border-radius(2px);

	&_bq {
		margin:0;
		padding:0;
		border:none;
		p {

		}
	}
	&_content {
	   p{
	      
        font-family: Arial, sans-serif;
	    font-size: 13px;
        font-weight: normal;
        line-height: 20px;
        color: #999999;
        font-style: normal;
           
	   }

		overflow: hidden;
		background: url(images/quotes.png) no-repeat 0 0;
	}
	& .featured-thumbnail {
		/* Portrait tablet to landscape and desktop */
		@media (min-width: 768px) and (max-width: 979px) {
			width: 80px;
			height: 80px;
		}
	}
	& small {
        font-family: Arial, sans-serif;
	    font-size: 13px !important;
        font-weight: normal;
		padding: 12px 0 0;
		font-size: @fontSizeSmall;
	}
}
	/* Portrait tablet to landscape and desktop */
	@media (min-width: 768px) and (max-width: 979px) {
		.testimonial {
			padding: 15px;
			background-position: 150px 10px;
		}
	}
	/* Landscape phone to portrait tablet */
	@media (max-width: 767px) {
		.testimonial {
			padding: 15px;
			background-position: 150px 10px;
		}
	}
    

/* Back to Top */
#back-top {
	display:none;
	&-wrapper {
		position: fixed;
		right: 10px;
		bottom: 10px;
		overflow: hidden;
		z-index: 99;
	}
	a {
		display: block;
		width: 50px;
		color: #bbb;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font: 11px/100% Arial, Helvetica, sans-serif;
		.transition(1s);
		&:hover {
			color: #000;
			span {
                background-color: #24252b;
			}
		}
	}
	span {
		display: block;
		margin-bottom: 7px;
		width: 50px;
		height: 50px;
        background-color: @green;
		.transition(1s);
	}
}
/*// Back to Top */

/* Zoom Icon */
.zoom-icon {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:block !important;
    opacity: 1 !important;
    visibility: visible !important;
	background: transparent !important;
	cursor:pointer;
    &:after{
        position:absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 0 solid @green;
        content: "";
	   .transition(0.5s);
       z-index: 200;
    }
	.transition(0.7s);
	}
.no-rgba .zoom-icon {
	visibility:hidden;
    display: none;
	}
.zoom-icon:before {
	position:absolute;
	top:50%;
	left:50%;
	display:block;
	margin: 0;
	width:0px;
	height:0px;
	background:url(images/magnify-alt.png) 50% 50% no-repeat;
	content:"";
    border-radius: 500px;
    .transition(0.4s);
	}
.featured-thumbnail a:hover .zoom-icon,
a.thumbnail:hover .zoom-icon,
.thumbnail__portfolio a:hover .zoom-icon {
    
    &:before{
    	width:80px;
	   height:80px;   	
       margin:-40px 0 0 -40px;
        border-radius: 500px;
        .transition(0.3s); 
    }
    &:after{
        position:absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: 10px solid @green;
        content: "";
	   .transition(0.3s);
    }
}
.no-rgba .image-wrap:hover .zoom-icon,
.featured-thumbnail a:hover .zoom-icon,
a.thumbnail:hover .zoom-icon,
.thumbnail__portfolio a:hover .zoom-icon {
	visibility:visible;
}


/*/ Misc */


@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";